@charset "UTF-8";






body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
	margin: 0;
	padding: 0;
	border: 0
}

h1, h2, h3, h4, h5, h6, small {
	font-size: 1em
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	height: 100%;
	min-height: 100%;
	font-size: 100%;
	position: relative
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block
}


[hidden] {
	display: none
}



input, textarea, button, select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
	font-family: inherit
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}


button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

a img, img {
	-ms-interpolation-mode: bicubic;
	border: 0
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

a, input, button {
	-ms-touch-action: none !important
}

body {
	font-family: 'Source Sans Pro', helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.5em
}

@media (max-width: 19.875em) {
	body {
		font-size: 0.8125em
	}
}


body {
	background: white;
	color: #3c3c3c;
	height: auto
}

ul {
	padding-left: 1.5em
}


.icon-with-text {
	display: inline-block;
	padding-right: 0.25em;
	position: relative;
	top: 0.125em
}





.visible-tablet,
.visible-tablet-inline,
.visible-desktop-inline {
	display: none !important
}

@media (min-width: 48em) {
	.visible-tablet,
	.visible-tablet-inline,
	.visible-desktop-inline {
		display: block !important
	}
}

@media (min-width: 48em) {
	.visible-tablet-inline {
		display: inline !important
	}
}

@media (min-width: 48em) {
	.hidden-tablet {
		display: none !important
	}
}

.visible-desktop {
	display: none
}

@media (min-width: 63em) {
	.visible-desktop {
		display: block
	}
}

@media (min-width: 48em) {
	.visible-desktop-inline {
		display: inline
	}
}

@media (min-width: 63em) {
	.hidden-desktop {
		display: none !important
	}
}


a {
	text-decoration: none;
	color: #00a9fb
}

a:hover {
	color: #0075ae
}

a:active {
	color: #00537b
}


h1 {
	-webkit-font-smoothing: antialiased
}

h1, h2 {
	font-family: 'Source Sans Pro', helvetica, sans-serif;
	color: #171717
}

h1 {
	margin: 0em 0 0.75em;
	font-weight: 700
}

@media (min-width: 37.5em) {
	h1 {
		font-size: 1.625em;
		line-height: 1.38462em;
		font-weight: 600;
		margin-top: 0.23077em;
		margin-bottom: 0.46154em
	}
}

h2 {
	margin: 0em 0 0.75em;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 500
}

@media (min-width: 37.5em) {
	h2 {
		font-size: 1.375em;
		line-height: 1.09091em;
		font-weight: 600;
		font-weight: 500;
		text-transform: none
	}
}

.toggle-menu {
	background: #474747;
	border-color: #474747 !important;
	position: relative;
	z-index: 99999;
	text-align: left;
	margin-bottom: 0.75em
}

.toggle-menu a,
.toggle-menu a .feedback,
.toggle-menu .toggle-menu-item,
.toggle-menu .toggle-menu-title,
.toggle-menu .toggle-menu-item .feedback,
.toggle-menu .toggle-menu-title .feedback {
	display: block;
	position: relative;
	color: white;
	padding: 0.75em;
	padding-right: 0.75em
}

.toggle-menu a.login-form,
.toggle-menu .toggle-menu-item.login-form,
.toggle-menu .login-form.toggle-menu-title {
	padding: 0
}

.toggle-menu a.login-form:hover,
.toggle-menu .toggle-menu-item.login-form:hover,
.toggle-menu .login-form.toggle-menu-title:hover {
	color: #62ccff;
	background: none
}

.toggle-menu a.login-form:after,
.toggle-menu .toggle-menu-item.login-form:after,
.toggle-menu .login-form.toggle-menu-title:after {
	content: ""
}

.toggle-menu a:hover,
.toggle-menu .toggle-menu-link:hover {
	background: #00a9fb;
	color: white
}

.toggle-menu a:hover:after,
.toggle-menu .toggle-menu-link:hover:after {
	color: white
}

.toggle-menu .toggle-menu-title {
	background-color: #545454
}

.toggle-menu p.login-form {
	color: white;
	margin: 0.375em 0 0.75em 0
}


.toggle-menu.hidden {
	display: none
}


@media (min-width: 48em) {
	.toggle-menu {
		position: absolute
	}
}

.toggle {
	display: block;
	cursor: pointer
}

@media (min-width: 48em) {
	.toggle {
		display: inline-block;
		width: auto
	}
}

.toggle.toggled {
	background: #474747;
	color: white !important;
	border-color: #474747
}

@media (min-width: 48em) {
	.toggle.toggled {
		width: auto;
		border-bottom-color: #474747 !important
	}
}


.toggle-header {
	display: inline-block
}

.toggle-header-container {
	padding: 0 0.75em;
	height: 42px;
	line-height: 40px
}


.toggle-menu-subitem, a.toggle-menu-subitem {
	padding-left: 1.5em
}

.relative {
	position: relative
}


.hidden {
	display: none
}

/*
.clearfix {
	overflow: hidden;
	*zoom: 1
}
*/

.left {
	float: left
}

.right {
	float: right
}

.header {
	height: 3.75em;
	width: 100%
}

.header-wrapper {
	background: white;
	margin: 0 auto;
	max-width: 63em;
	padding-left: 0;
	padding-right: 0
}

@media (min-width: 48em) {
	.header-wrapper {
		padding-left: 0.75em;
		padding-right: 0.75em
	}
}

.header-left {
	float: left
}

.header-right {
	float: right
}

.header-padding {
	margin-left: 0.75em
}

.header-hover:hover {
	background-color: #e8e8e8
}

.header-hover.toggled {
	background-color: #474747
}

.header-logo {
	display: block;
	display: block;
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	height: 2.5em
}

.header-text-link {
	height: 3.75em;
	line-height: 3.5625em;
	padding-right: 0.75em;
	padding-left: 0.75em;
	display: block;
	color: #3c3c3c
}

.header-text-link:hover {
	color: #3c3c3c
}

.toggled .header-text-link {
	color: white
}

.button-new-listing {
	-webkit-border-radius: 0.3125em;
	-moz-border-radius: 0.3125em;
	-ms-border-radius: 0.3125em;
	-o-border-radius: 0.3125em;
	border-radius: 0.3125em;
	background: #3f86ff;
	color: white;
	text-align: center;
	cursor: pointer;
	margin: 0.75em 0;
	padding: 0 1.5em;
	padding-bottom: 4px;
	height: 2.625em;
	border: 0;
	display: table;
	line-height: 1.5em;
	display: block;
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	height: 2.5em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	line-height: 2.3125em
}

.button-new-listing .content {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

.button-new-listing:hover {
	background: #2576ff;
	color: white
}

.button-new-listing:active {
	background: #0c66ff;
	color: white
}

.header-menu-container {
	display: block;
	padding: 0.625em 0.75em;
	height: 3.75em
}

.header-menu-toggle-container {
	-webkit-border-radius: 0.3125em;
	-moz-border-radius: 0.3125em;
	-ms-border-radius: 0.3125em;
	-o-border-radius: 0.3125em;
	border-radius: 0.3125em;
	background: #e8e8e8;
	color: white;
	text-align: center;
	cursor: pointer;
	margin: 0.75em 0;
	padding: 0 1.5em;
	padding-bottom: 4px;
	height: 2.625em;
	border: 0;
	display: table;
	line-height: 1.5em;
	padding: 0 0.75em;
	height: 2.5em;
	line-height: 2.3125em;
	margin: 0;
	padding-bottom: 0;
	padding-top: 0;
	color: #3c3c3c
}

.header-menu-toggle-container .content {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

.header-menu-toggle-container:hover {
	background: #dbdbdb;
	color: white
}

.header-menu-toggle-container:active {
	background: #cfcfcf;
	color: white
}

.toggled .header-menu-toggle-container {
	color: white;
	background-color: #474747
}

.header-menu-icon {
	position: relative;
	top: 3px
}

@media (min-width: 48em) {
	.header-menu-icon {
		padding-right: 0.25em
	}
}


.header-toggle-menu-language {
	min-width: 12.5em;
	position: absolute
}


.header-toggle-menu-menu {
	min-width: 12.5em;
	position: absolute
}

.header-inbox-link {
	color: #3c3c3c;
	position: relative
}

.header-inbox {
	font-size: 1.375em;
	line-height: 1.09091em;
	font-weight: 600;
	position: relative;
	top: 0.25em
}


.header-wide-logo-text,
.header-square-logo-text {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	line-height: 2.5rem;
	height: 2.5rem;
	font-size: 1.75em;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	font-weight: 800
}

.header-wide-logo-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 9.375rem;
	height: 2.5rem
}

.header-square-logo-text {
	width: 2.5rem;
	height: 2.5rem
}

.header-wide-logo {
	background-image: url("https://user-assets.sharetribe.com/images/communities/wide_logos/17731/header/TOOLTOYOU_LOGO.png?1464134472");
	width: 10.5em;
	height: 2.5em;
	background-repeat: no-repeat;
	-webkit-background-size: 10.5em auto;
	-moz-background-size: 10.5em auto;
	-o-background-size: 10.5em auto;
	background-size: 10.5em auto;
	display: inline-block
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.header-wide-logo {
		background-image: url("https://user-assets.sharetribe.com/images/communities/wide_logos/17731/header_highres/TOOLTOYOU_LOGO.png?1464134472")
	}
}

.header-square-logo {
	background-image: url("https://user-assets.sharetribe.com/images/communities/logos/17731/header_icon/Icon.png?1459568318");
	width: 2.5em;
	height: 2.5em;
	background-repeat: no-repeat;
	-webkit-background-size: 2.5em auto;
	-moz-background-size: 2.5em auto;
	-o-background-size: 2.5em auto;
	background-size: 2.5em auto;
	display: inline-block
}

@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.header-square-logo {
		background-image: url("https://user-assets.sharetribe.com/images/communities/logos/17731/header_icon_highres/Icon.png?1459568318")
	}
}

