@charset "UTF-8";
@import "webfonts/ss-social.css";
@import "webfonts/ss-pika.css";

/*layout*/
.layout-centered-content {
	width: 940px;
	margin: 0px auto;
}

.floatright {
	float: right;
}


body {
	font-family: Museo, Arial, sans-serif;
	font-size: 18px;
	color: #000000;
	margin: 0px;
	padding: 0px;
}




.template-studiotime {
	/*messages*/
	/* buttons*/
	/* Circle Graphs */
	/*******************/
	/*****  Inline Screens  *****/
	/*******************/
}

.hero-container .button-1 {
	line-height: 60px;
	padding: 0px 30px;
	display: inline-block;
	color: #ffffff;
	background-color: #fc913b;
	border: 0px;
	border-radius: 3px;
	position: relative;
}





/* extensions */
.template-studiotime {
	/*typography*/
	/*header*/
}



@media only screen and (max-width: 768px) {
	.template-studiotime.responsive .layout-centered-content {
		width: auto;
	}

}

@media only screen and (max-width: 480px) {
	.template-studiotime.responsive .layout-centered-content {
		padding-right: 10px;
		padding-left: 10px;
	}

}

@media only screen and (max-width: 480px) {
	.template-studiotime .hero-container h1 {
		font-size: 32px;
		line-height: normal;
	}

	.template-studiotime .hero-container h2 {
		font-size: 20px;
		line-height: normal;
	}

}

.clearfix {
	overflow: hidden;
	*zoom: 1
}

/*!
 * Bootstrap Responsive v2.2.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */
@-ms-viewport {
	width: device-width;
}


.hidden {
	display: none;
	visibility: hidden;
}



@media (min-width: 1200px) {

	input, textarea,
	.uneditable-input {
		margin-left: 0;
	}
}

@media (min-width: 768px) and (max-width: 979px) {

	input, textarea,
	.uneditable-input {
		margin-left: 0;
	}

}

@media (max-width: 767px) {
	body {
		padding-right: 20px;
		padding-left: 20px;
	}

}

@media (max-width: 979px) {
	body {
		padding-top: 0;
	}

}

.template-studiotime {
	padding-left: 0px !important;
	padding-right: 0px !important;
	height: 100%;
	width: 100%;
	font-family: "Source Sans Pro", helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #000000;
}


.template-studiotime a:hover,
.template-studiotime input[type=submit]:hover {
	opacity: 0.75;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	text-decoration: none;
}


.template-studiotime h1,
.template-studiotime h2,
.template-studiotime h3,
.template-studiotime h4,
.template-studiotime h5,
.template-studiotime h6,
.template-studiotime .h1,
.template-studiotime .h2,
.template-studiotime .h3,
.template-studiotime .h4,
.template-studiotime .h5,
.template-studiotime .h6 {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.page-landing .hero-container {
	color: #ffffff;
	padding: 140px 0px 165px 0px;
	text-align: center;
	height: 535px;
	overflow: hidden;
	position: relative;
}

.page-landing .hero-container img {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

.page-landing .hero-container h1 {
	font-size: 58px;
	line-height: 65px;
	font-weight: 100;
	color: #ffffff;
	padding-bottom: 0px;
	margin: 0px;
}

.page-landing .hero-container h2 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 100;
	color: #ffffff;
	padding-bottom: 25px;
	margin: 0px;
}

.page-landing .hero-container form {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
}

.page-landing .hero-container form .input-container {
	width: 730px;
	float: left;
}

.page-landing .hero-container form input[type=text] {
	width: 65%;
	line-height: 58px;
	font-size: 18px;
	font-weight: 100;
	color: #3d3d3d;
	padding: 2px 25px 0px 25px;
	background-color: #ffffff;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0px;
	float: left;
}

.page-landing .hero-container form .dropdown {
	position: relative;
	height: 60px;
	width: 33%;
	float: left;
	margin-left: 2px;
	z-index: 100;
}

.page-landing .hero-container form .dropdown .current-value {
	background: #ffffff url(sprites.png) 15px 16px no-repeat;
	width: 100%;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: block;
	color: #3d3d3d;
	line-height: 60px;
	padding: 2px 40px 0px 40px;
	text-align: left;
	cursor: pointer;
}

.page-landing .hero-container form .dropdown .dd-icon {
	background: url(sprites.png) 0px -50px no-repeat;
	width: 19px;
	height: 12px;
	padding: 12px 0px 0px 0px;
	overflow: hidden;
	position: absolute;
	top: 23px;
	right: 16px;
}

.page-landing .hero-container form .dropdown.open ul {
	display: block;
}

.page-landing .hero-container form .dropdown.open .current-value {
	border-bottom-right-radius: 0px;
}

.page-landing .hero-container form .dropdown ul {
	display: none;
	width: 100%;
	padding: 0px;
	max-height: 150px;
	overflow-y: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.page-landing .hero-container form .dropdown ul li {
	list-style-type: none;
}

.page-landing .hero-container form .dropdown ul li a {
	display: block;
	background-color: #dddddd;
	text-align: left;
	padding: 3px 20px 3px 40px;
	color: #3d3d3d;
}

.page-landing .hero-container form .dropdown ul li a:hover {
	opacity: 1.0 !important;
	background-color: #cccccc;
}

.page-landing .hero-container form .dropdown ul li:first-child a {
	padding-top: 10px;
}

.page-landing .hero-container form .dropdown ul li:last-child a {
	padding-bottom: 10px;
}


@media only screen and (max-width: 768px) {
	.template-studiotime.page-landing .hero-container {
		padding: 25px 0px;
	}

	.template-studiotime.page-landing .hero-container form .input-container {
		float: none;
		width: 100%;
	}

	.template-studiotime.page-landing .hero-container form .input-container input[type=text] {
		width: 100%;
		float: none;
		border-radius: 4px;
		font-size: 15px;
	}

	.template-studiotime.page-landing .hero-container form .input-container .dropdown {
		margin: 10px 0px;
		width: 100%;
		float: none;
		margin-left: 0px;
	}

	.template-studiotime.page-landing .hero-container form .input-container .dropdown .current-value {
		border-radius: 4px;
	}

	.template-studiotime.page-landing .hero-container form input[type=submit] {
		float: none;
	}

}

@media only screen and (max-width: 480px) {
	.template-studiotime.page-landing .hero-container h1 {
		font-size: 32px;
		line-height: normal;
	}

	.template-studiotime.page-landing .hero-container h2 {
		font-size: 20px;
		line-height: normal;
	}

}

body, div, h1, h2, p, ol, ul, li, form {
	margin: 0;
	padding: 0;
	border: 0;
}

h1, h2 {
	font-size: 1em;
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

/*
*/
html, body, form {
	height: 100%;
}

body {
	height: 100%;
	min-height: 100%;
	font-size: 100%;
	position: relative;
}


[hidden] {
	display: none;
}


input {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
	font-family: inherit;
}

button, input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a, input {
	-ms-touch-action: none !important;
}

body {
	font-family: 'Source Sans Pro', helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

@media (max-width: 19.875em) {
	body {
		font-size: 0.8125em;
	}
}

body {
	background: #ffffff;
	color: #3c3c3c;
	height: auto;
}

ul {
	padding-left: 1.5em;
}


input[type=text] {
	-webkit-border-radius: 0.3125em;
	-moz-border-radius: 0.3125em;
	-ms-border-radius: 0.3125em;
	-o-border-radius: 0.3125em;
	border-radius: 0.3125em;
	border: 2px solid #c3c3c3;
	min-height: 42px;
	width: 100%;
	padding: 0.25em 0.5em;
}

@media (min-width: 48em) {
	input[type=text] {
		margin: 0;
		padding: 0.5em 0.6875em;
	}
}



a {
	text-decoration: none;
	color: #807d7c;
}

a:hover {
	color: #595756;
}

a:active {
	color: #3f3e3d;
}


h1 {
	-webkit-font-smoothing: antialiased;
}

h1, h2 {
	font-family: 'Source Sans Pro', helvetica, sans-serif;
	color: #171717;
}

h1 {
	margin: 0em 0 0.75em;
	font-weight: 700;
}

@media (min-width: 37.5em) {
	h1 {
		font-size: 1.625em;
		line-height: 1.38462em;
		font-weight: 600;
		margin-top: 0.23077em;
		margin-bottom: 0.46154em;
	}
}

h2 {
	margin: 0em 0 0.75em;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 500;
}

@media (min-width: 37.5em) {
	h2 {
		font-size: 1.375em;
		line-height: 1.09091em;
		font-weight: 600;
		font-weight: 500;
		text-transform: none;
	}
}


.hidden {
	display: none;
}


