
.dslc-module-front a {
    text-decoration: none;
}


#dslc-content .dslc-post {
    overflow: hidden; /* <- Makes sure border radius crops inner content. */
}


/* Default system font for all the elements in page builder*/
.dslc-module-front {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/**
 * CPT MODULE
 */

#dslc-content .dslc-cpt-post {
}

/*#dslc-content .dslc-cpt-post-main {
    border: 0px solid transparent;
}*/

#dslc-content .dslc-cpt-post-thumb {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    line-height: 0;
}

#dslc-content .dslc-cpt-post-thumb-inner {
    border: 0 solid transparent;
    overflow: hidden;
}

#dslc-content .dslc-cpt-post-thumb a {
    display: inline-block;
    max-width: 100%;
}

#dslc-content .dslc-cpt-post-thumb img {
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    max-width: 100%;
    height: auto;
}

#dslc-content .dslc-cpt-post-thumb .dslc-cpt-post-main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#dslc-content .dslc-cpt-post-thumb .dslc-cpt-post-main.dslc-cpt-post-main-visible {
    opacity: 1 !important;
}

#dslc-content .dslc-cpt-post-thumb:hover .dslc-cpt-post-main {

}

body.dslca-enabled #dslc-content .dslc-post:first-child .dslc-cpt-post-thumb .dslc-cpt-post-main {
    opacity: 1;
}

#dslc-content .dslc-cpt-post-meta {
    /*border: 1px solid #e5e5e5;*/
    /*border-left: 0;
    border-right: 0;*/
    margin-bottom: 20px;
    overflow: hidden;
    padding: 13px 0;
    font-size: 11px;
    line-height: 1;
}

#dslc-content .dslc-cpt-post-meta-author {
    float: left;
}

#dslc-content .dslc-cpt-post-meta-author.above {
    float: none;
}

#dslc-content .dslc-cpt-post-meta-author a {
    text-decoration: none;
}

#dslc-content .dslc-cpt-post-meta-date {
    float: right;
}

#dslc-content .dslc-cpt-post-meta-date.above {
    float: none;
}

#dslc-content .dslc-cpt-post-title {
    margin-bottom: 13px;
}

#dslc-content .dslc-cpt-post-title h2 {
    /*font-family: '';*/
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

#dslc-content .dslc-cpt-post-title h2 a {
    display: block;
    color: inherit;
    text-decoration: none;
}

#dslc-content .dslc-cpt-post-excerpt {
    margin-bottom: 22px;
    font-size: 13px;
    line-height: 22px;
}

#dslc-content .dslc-cpt-post-read-more {

}

#dslc-content .dslc-cpt-post-read-more a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    border: 0 solid transparent;
}

/**
 * Horizontal Orientation
 */

#dslc-content .dslc-cpt-posts-orientation-horizontal {

}

#dslc-content .dslc-cpt-posts-orientation-horizontal .dslc-cpt-post-thumb {
    float: left;
    margin-right: 20px;
    width: 200px;
}

#dslc-content .dslc-cpt-posts-orientation-horizontal .dslc-cpt-post-main {
    overflow: hidden;
}

/**
 * BLOG MODULE
 */

.dslc-post-thumb {
    overflow: hidden;
}

#dslc-content .dslc-blog-post {

}

#dslc-content .dslc-blog-post-main {
    border: 0px solid transparent;
}

#dslc-content .dslc-blog-post-thumb {
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    line-height: 0;
}

#dslc-content .dslc-blog-post-thumb-inner {
    border: 0 solid transparent;
    overflow: hidden;
}

#dslc-content .dslc-blog-post-thumb a {
    display: inline-block;
    max-width: 100%;
}

#dslc-content .dslc-blog-post-thumb img {
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    max-width: 100%;
    height: auto;
}

#dslc-content .dslc-blog-post-thumb .dslc-blog-post-main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#dslc-content .dslc-blog-post-thumb .dslc-blog-post-main.dslc-blog-post-main-visible {
    opacity: 1 !important;
}

#dslc-content .dslc-blog-post-thumb:hover .dslc-blog-post-main {

}

body.dslca-enabled #dslc-content .dslc-post:first-child .dslc-blog-post-thumb .dslc-blog-post-main {
    opacity: 1;
}

#dslc-content .dslc-blog-post-meta {
    /*border: 1px solid #e5e5e5;*/
    border-left: 0;
    border-right: 0;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 13px 0;
    font-size: 11px;
    line-height: 1;
}

#dslc-content .dslc-blog-post-meta-author {
    float: left;
}

#dslc-content .dslc-blog-post-meta-author.above {
    float: none;
}

#dslc-content .dslc-blog-post-meta-avatar {
    margin-right: 10px;
    width: 30px;
    display: inline-block;
}

#dslc-content .dslc-blog-post-meta-avatar img {
    vertical-align: middle;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#dslc-content .dslc-blog-post-meta-author a {
    text-decoration: none;
}

#dslc-content .dslc-blog-post-meta-date {
    float: right;
}

#dslc-content .dslc-blog-post-meta-date.above {
    float: none;
}

#dslc-content .dslc-blog-post-title {
    margin-bottom: 13px;
}

#dslc-content .dslc-blog-post-title h2 {
    /*font-family: '';*/
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    margin: 0;
    padding: 0;
}

#dslc-content .dslc-blog-post-title h2 a {
    display: block;
    color: inherit;
    text-decoration: none;
}

#dslc-content .dslc-blog-post-excerpt {
    margin-bottom: 22px;
    font-size: 13px;
    line-height: 22px;
}

#dslc-content .dslc-blog-post-read-more {

}

#dslc-content .dslc-blog-post-read-more a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    border: 0 solid transparent;
}

/**
 * Horizontal Orientation
 */

.dslc-posts-orientation-horizontal .dslc-post-thumb {
    float: left;
    margin-right: 20px;
    width: 200px;
}

#dslc-content .dslc-posts-orientation-horizontal .dslc-post-main {
    overflow: hidden;
}


/**
 * DOWNLOADS MODULE
 */

#dslc-content .dslc-downloads {

}

#dslc-content .dslc-download {

}

#dslc-content .dslc-download-thumb {
    position: relative;
    line-height: 0;
}

#dslc-content .dslc-download-thumb-inner {
    border: 0 solid transparent;
    overflow: hidden;
}

#dslc-content .dslc-download-thumb a {
    display: inline-block;
    max-width: 100%;
}

#dslc-content .dslc-download-thumb img {
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    max-width: 100%;
    height: auto;
}

#dslc-content .dslc-download-thumb .dslc-download-main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#dslc-content .dslc-download-thumb .dslc-download-main.dslc-download-main-visible {
    opacity: 1 !important;
}

#dslc-content .dslc-download-thumb:hover .dslc-download-main {

}

body.dslca-enabled #dslc-content .dslc-post:first-child .dslc-download-thumb .dslc-download-main {
    opacity: 1;
}

#dslc-content .dslc-download-main {
    border: 0px solid transparent;
    text-align: center;
}

#dslc-content .dslc-download-title {
    margin-bottom: 13px;
}

#dslc-content .dslc-download-title h2 {
    font-size: 15px;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

#dslc-content .dslc-download-title h2 a {
    display: block;
    color: inherit;
    text-decoration: none;
}

#dslc-content .dslc-download-tags {
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    font-size: 12px;
    padding: 8px 0;
    line-height: 1;
    margin-bottom: 22px;
}

#dslc-content .dslc-download-excerpt {
    margin-bottom: 22px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
}

#dslc-content .dslc-download-download {
    margin-bottom: 10px;
}

#dslc-content .dslc-download-download a {
    background: #ff4e01;
    border: 0px solid transparent;
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    padding: 15px 0;
    text-decoration: none;
    text-align: center;
}

#dslc-content .dslc-download-download .dslc-icon {
    margin-right: 10px;
}

#dslc-content .dslc-download-info {
    font-size: 10px;
    font-style: italic;
}


/**
 * GALLERY MODULE
 */

#dslc-content .dslc-galleries {

}

#dslc-content .dslc-gallery {

}

#dslc-content .dslc-gallery-thumb {
    position: relative;
    line-height: 0;
}

#dslc-content .dslc-gallery-thumb-inner {
    border: 0 solid transparent;
    position: relative;
    overflow: hidden;
}

/*#dslc-content .dslc-gallery-thumb a {
    display: inline-block;
    max-width: 100%;
}*/

#dslc-content .dslc-gallery-thumb img {
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    box-shadow: none;
    max-width: 100%;
    height: auto;
}

#dslc-content .dslc-gallery-thumb .dslc-gallery-images-count {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

#dslc-content .dslc-gallery-images-count-bg {
    background: transparent;
    border: 0px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#dslc-content .dslc-gallery-images-count-main {
    position: relative;
}

#dslc-content .dslc-gallery-images-count-num {
    color: #fff;
    display: block;
    font-size: 25px;
    /*font-family: '';*/
    font-weight: 200;
    line-height: 1;
    margin-bottom: 8px;
}

#dslc-content .dslc-gallery-images-count-txt {
    color: #7d7d7d;
    display: block;
    font-size: 11px;
    /*font-family: '';*/
    line-height: 1;
}

#dslc-content .dslc-gallery-thumb .dslc-gallery-main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#dslc-content .dslc-gallery-thumb .dslc-gallery-main.dslc-gallery-main-visible {
    opacity: 1 !important;
}

#dslc-content .dslc-gallery-thumb:hover .dslc-gallery-main {

}

body.dslca-enabled #dslc-content .dslc-post:first-child .dslc-gallery-thumb .dslc-gallery-main {
    opacity: 1;
}

#dslc-content .dslc-gallery-main {
    border: 0px solid transparent;
    text-align: center;
}

#dslc-content .dslc-gallery-title {
    margin-bottom: 15px;
}

#dslc-content .dslc-gallery-title h2 {
    /*font-family: '';*/
    font-size: 11px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

#dslc-content .dslc-gallery-title h2 a {
    display: block;
    color: #7d7d7d;
    text-decoration: none;
}

#dslc-content .dslc-gallery-sep {
    display: block;
    height: 1px;
    border-bottom: 1px solid #4a4a4a;
    margin-bottom: 15px;
}

#dslc-content .dslc-gallery-excerpt {
    font-size: 12px;
    border-width: 1px 0 0 0;
}

#dslc-content .dslc-gallery-read-more {

}

#dslc-content .dslc-gallery-read-more a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    border: 0 solid transparent;
}

#dslc-content .dslc-gallery .dslc-lightbox-gallery {
    display: none;
}

/**
 * INFOBOX MODULE
 */

#dslc-content .dslc-info-box {
    text-align: center;
    border: 0px solid transparent;
    /*
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    */
}

.dslc-info-box-main-wrap {

}

#dslc-content .dslc-info-box-image {
    margin-bottom: 25px;
    position: relative;
    font-size: 0;
}

#dslc-content .dslc-info-box-image-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#dslc-content .dslc-info-box-icon-pos-aside .dslc-info-box-main {
    overflow: hidden;
}

#dslc-content .dslc-info-box-icon-pos-aside .dslc-info-box-image {
    float: left;
    margin-right: 20px;
}

#dslc-content .dslc-info-box-image-inner {
    /*display: inline-block;*/
    display: inline-flex;
    justify-content: center;
    align-items: center;

    position: relative;
    border: 0px solid transparent;
}

#dslc-content .dslc-info-box-image-inner .dslc-icon {
    color: #fff;
    line-height: 1;
    font-size: 40px;
    /*position: absolute;*/
}

#dslc-content .dslc-info-box-image-pos-aside .dslc-info-box-main {
    overflow: hidden;
}

#dslc-content .dslc-info-box-image-pos-aside .dslc-info-box-image-alt {
    float: left;
    margin-right: 20px;
}

#dslc-content .dslc-info-box-image-alt-inner {
    display: inline-block;
}

#dslc-content .dslc-info-box-image-alt-inner img {
    /*
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    */
}

#dslc-content .dslc-info-box-title {
    /*margin-bottom: 25px;*/
}

#dslc-content .dslc-info-box-title h4 {
    font-size: 17px;
    line-height: 1;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

#dslc-content .dslc-info-box-title h4 a {
    color: inherit;
    text-decoration: none;
}

#dslc-content .dslc-info-box-content {
    margin-bottom: 25px;
}

#dslc-content .dslc-info-box-button {
    font-size: 0;
}

#dslc-content .dslc-info-box-button a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    box-shadow: none;
    -webkit-appearance: none;
}

#dslc-content .dslc-info-box-button-aside {
    float: right;
}

/**
 * PARTNERS MODULE
 */
/*
	 #dslc-content .dslc-partner {

	}
*/
#dslc-content .dslc-partner .dslc-partner-thumb {
    position: relative;
    line-height: 0;
}

#dslc-content .dslc-partner .dslc-partner-thumb a {
    display: inline-block;
    max-width: 100%;
}

#dslc-content .dslc-partner .dslc-partner-thumb img {
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    vertical-align: bottom;
    width: auto;
    max-width: 100%;
    height: auto;
}

#dslc-content .dslc-partner-thumb .dslc-partner-main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#dslc-content .dslc-partner-thumb .dslc-partner-main.dslc-partner-main-visible {
    opacity: 1 !important;
}

#dslc-content .dslc-partner-thumb:hover .dslc-partner-main {

}

body.dslca-enabled #dslc-content .dslc-post:first-child .dslc-partner-thumb .dslc-partner-main {
    opacity: 1;
}

#dslc-content .dslc-partner-title {
    margin-bottom: 10px;
}

#dslc-content .dslc-partner-title h2 {
    margin: 0;
    padding: 0;
}

#dslc-content .dslc-partner-title h2 a {
    display: block;
    color: inherit;
    text-decoration: none;
}

/**
 * PROJECTS MODULE
 */

#dslc-content .dslc-project {

}

#dslc-content .dslc-project-thumb {
    margin-bottom: 24px;
    position: relative;
    line-height: 0;
}

#dslc-content .dslc-project-thumb-inner {
    border: 0 solid transparent;
    overflow: hidden;
}

#dslc-content .dslc-project-thumb a {
    display: inline-block;
    max-width: 100%;
}

#dslc-content .dslc-project-thumb img {
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    max-width: 100%;
    height: auto;
}

#dslc-content .dslc-project-thumb .dslc-project-main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#dslc-content .dslc-project-thumb .dslc-project-main.dslc-project-main-visible {
    opacity: 1 !important;
}

#dslc-content .dslc-project-thumb:hover .dslc-project-main {

}

body.dslca-enabled #dslc-content .dslc-projects .dslc-post:first-child .dslc-project-thumb .dslc-project-main {
    opacity: 1;
}

#dslc-content .dslc-project-main {
    border: 0px solid transparent;
}

#dslc-content .dslc-project-title {
    margin-bottom: 10px;
}

#dslc-content .dslc-project-title h2 {
    /*color: #000;*/
    /*font-family: "Open Sans";*/
    font-weight: bold;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 0;
}

#dslc-content .dslc-project-title h2 a {
    display: block;
    color: inherit;
    text-decoration: none;
}

#dslc-content .dslc-project-cats {
    /*font-family: '';*/
    font-size: 10px;
    font-style: italic;
    line-height: 1;
}

#dslc-content .dslc-project-excerpt {
    margin-bottom: 22px;
    font-size: 13px;
    line-height: 22px;
    border-top: 0px solid #000;
}

#dslc-content .dslc-project-read-more {

}

#dslc-content .dslc-project-read-more a {
    display: inline-block;
    line-height: 1;
    text-decoration: none;
    border: 0 solid transparent;
}

/**
 * SEPARATOR MODULE
 */

.dslc-separator-wrapper {
    padding-bottom: 1px;
}

.dslc-separator {
    clear: both;
    height: 1px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 100%;
}

.dslc-module-front.dslc-module-DSLC_Separator {
    min-height: auto;
}

.dslc-separator.dslc-separator-style-solid {
    border-bottom: 1px solid #ededed;
}

.dslc-separator.dslc-separator-style-dashed {
    border-bottom: 1px dashed #ededed;
}

.dslc-separator.dslc-separator-style-dotted {
    border-bottom: 1px dotted #ededed;
}

/**
 * STAFF MODULE
 */
/*
– already in module defaults
		#dslc-content .dslc-staff-member {
			text-align: center;
		}
*/

#dslc-content .dslc-staff-member-thumb {
    position: relative;
    line-height: 0;
}

/*
				#dslc-content .dslc-staff-member-thumb {
					border: 0 solid transparent;
				}
*/

#dslc-content .dslc-staff-member-thumb a {
    display: inline-block;
    max-width: 100%;
}

#dslc-content .dslc-staff-member-thumb img {
    /*border-radius: 0;*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    max-width: 100%;
    height: auto;
}

#dslc-content .dslc-staff-member-thumb .dslc-staff-member-main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#dslc-content .dslc-staff-member-thumb .dslc-staff-member-main.dslc-staff-member-main-visible {
    opacity: 1 !important;
}

body.dslca-enabled #dslc-content .dslc-post:first-child .dslc-staff-member-thumb .dslc-staff-member-main {
    opacity: 1;
}

#dslc-content .dslc-staff-member-social a {
    margin: 0 6px;
    text-decoration: none;
}


#dslc-content .dslc-staff-member-title h2 {
    margin: 0;
    padding: 0;
}


#dslc-content .dslc-staff-member-title h2 a {
    display: block;
    text-decoration: none;
    color: inherit;
}

/**
 * TABS MODULE
 */

#dslc-content .dslc-tabs {

}

#dslc-content .dslc-tabs-nav {

}

#dslc-content .dslc-tabs-nav-pos-aside .dslc-tabs-nav {
    float: left;
    margin-bottom: 0 !important;
}

#dslc-content .dslc-tabs-nav-pos-above .dslc-tabs-nav {
    margin-right: 0 !important;
}

#dslc-content .dslc-tabs-nav-hook {
    background: #fbfbfb;
    border: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 3px 3px 0 0;
    bottom: -1px;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    position: relative;
    line-height: 1;
    margin-left: -1px;
}

#dslc-content .dslc-tabs-nav-pos-aside .dslc-tabs-nav-hook {
    display: block;
    margin-left: 0 !important;
}

#dslc-content .dslc-tabs-nav-pos-above .dslc-tabs-nav-hook {
    margin-bottom: 0 !important;
}

#dslc-content .dslc-tabs-nav-hook:first-child {
    margin-left: 0 !important;
}

#dslc-content .dslc-tabs-nav-hook.dslc-active {
    background: #fff;

}

#dslc-content .dslc-tabs-content {
    background: #fff;
}

#dslc-content .dslc-tabs-nav-pos-aside .dslc-tabs-content {
    overflow: hidden;
}

#dslc-content .dslc-tabs-tab-content {
    padding: 35px;
    display: none;
    position: relative;
}

#dslc-content .dslc-tabs-tab-content.dslc-active {
    display: block;
}


/* Admin */

.dslca-add-new-tab-hook {
    background: #78CA4F;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 11px;
    margin-left: 10px;
    height: 20px;
    text-align: center;
    line-height: 22px;
    margin-top: 8px;
    width: 20px;
    position: relative;
}

.dslca-add-new-tab-hook .dslca-icon {
    position: absolute;
    line-height: 1;
    top: 5px;
    right: 6px;
}

.dslca-delete-tab-hook {
    color: #E55F5F;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    line-height: 1;
    vertical-align: top;
}

/* Responsive */

.dslc-tabs-content .dslc-tabs-nav-hook {
    display: none !important;
}

/**
 * TESTIMONIALS MODULE
 */

#dslc-content .dslc-testimonials {
    border: 0px solid transparent;
}

#dslc-content .dslc-posts.dslc-carousel-arrow-aside {
    position: relative;
    width: 90%;
    margin: 0 auto;
}


#dslc-content .dslc-testimonial {

}

#dslc-content .dslc-testimonial-main {
    border: 0 solid transparent;
    border-radius: 4px;
    padding: 25px;
    overflow: hidden;
}

#dslc-content .dslc-testimonial-quote {
    border-bottom: 0 solid transparent;
}

#dslc-content .dslc-testimonial-author {

}

#dslc-content .dslc-testimonial-author-pos-outside-left {
    float: left;
}

#dslc-content .dslc-testimonial-author-pos-outside-right {
    float: right;
}

#dslc-content .dslc-testimonial-avatar-aside .dslc-testimonial-author-avatar {
    border: 0 transparent solid;
    float: left;
}

#dslc-content .dslc-testimonial-author-avatar img {
    display: inline-block;
    height: auto;
}

#dslc-content .dslc-testimonial-avatar-aside .dslc-testimonial-author-main {
    overflow: hidden;
    float: left;
}

#dslc-content .dslc-testimonial-author-name {
    line-height: 1;
}

#dslc-content .dslc-testimonial-author-position {
    line-height: 1.1;
}


/**
 * Button input
 */

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
    border-style: none;
    -webkit-appearance: none;
}


/**
 * TEXT MODULE
 */

.dslc-module-DSLC_Text_Simple img {
    max-width: 100%;
    height: auto;
}

/*.dslc-text-module-content {
	border: 0px solid transparent;
}*/

/**
 * WIDGETS MODULE
 */

#dslc-content .dslc-widgets {

}

#dslc-content .dslc-widgets-wrap {
    border: 0px solid transparent;
}

#dslc-content .dslc-widget {
    margin-bottom: 30px;
    width: 100%;
}

#dslc-content .dslc-widget:last-child {
    margin-bottom: 0 !important;
}

#dslc-content .dslc-widget-wrap {
    border: 0 solid transparent;
}

#dslc-content .dslc-widget-title {
    font-size: 15px;
    font-weight: 600;
    /*border-bottom: 1px solid #e5e5e5;*/
    margin-bottom: 10px;
    padding-bottom: 10px;
    line-height: 1;
}

#dslc-content .dslc-widget-title-inner {
    display: block;
}

#dslc-content .dslc-widgets-2-col .dslc-col {
    width: 14.89361%;
}

#dslc-content .dslc-widgets-3-col .dslc-col {
    width: 23.40425%;
}

#dslc-content .dslc-widgets-4-col .dslc-col {
    width: 31.91489%;
}

#dslc-content .dslc-widgets-5-col .dslc-col {
    width: 40.42553%;
}

#dslc-content .dslc-widgets-6-col .dslc-col {
    width: 48.93617%;
}

#dslc-content .dslc-widgets-7-col .dslc-col {
    width: 57.4468%;
}

#dslc-content .dslc-widgets-8-col .dslc-col {
    width: 65.95744%;
}

#dslc-content .dslc-widgets-9-col .dslc-col {
    width: 74.46808%;
}

#dslc-content .dslc-widgets-10-col .dslc-col {
    width: 82.97872%;
}

#dslc-content .dslc-widgets-11-col .dslc-col {
    width: 91.48936%;
}

#dslc-content .dslc-widgets-12-col .dslc-col {
    width: 100%;
    margin-right: 0;
}

#dslc-content .dslc-widgets-6-col .dslc-col:nth-child(2n),
#dslc-content .dslc-widgets-4-col .dslc-col:nth-child(3n),
#dslc-content .dslc-widgets-3-col .dslc-col:nth-child(4n),
#dslc-content .dslc-widgets-2-col .dslc-col:nth-child(6n) {
    margin-right: 0;
}

/*#dslc-content .dslc-widget li {
    border-style: solid;
}*/

/**
 * PRODUCTS MODULE
 */

#dslc-content .dslc-products {

}

#dslc-content .dslc-product {

}

#dslc-content .dslc-product-thumb {
    position: relative;
    line-height: 0;
}

#dslc-content .dslc-product-thumb-inner {
    bottom: 0 solid transparent;
    overflow: hidden;
}

/*
				#dslc-content .dslc-product-thumb a {
					display: inline-block;
					max-width: 100%;
				}
*/
#dslc-content .dslc-product-thumb img {
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    display: block;
    border-radius: 3px 3px 0 0;
    box-shadow: none;
    max-width: 100%;
    height: auto;
}

#dslc-content .dslc-product-thumb .dslc-product-price {
    background: transparent;
    color: #fff;
    /*display: block;*/
    font-weight: 400;
    font-size: 25px;
    line-height: 1;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    text-decoration: none;
    text-align: center;
}

#dslc-content .dslc-product-price-bg {
    background: transparent;
    border: 0px solid transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#dslc-content .dslc-product-price-main {
    position: relative;
}

#dslc-content .dslc-product-thumb .dslc-product-price del {
    display: none;
}

#dslc-content .dslc-product-thumb .dslc-product-price ins {
    text-decoration: none;
    background: transparent;
}

#dslc-content .dslc-product-thumb .dslc-product-price .from {
    display: none;
}

#dslc-content .dslc-product-thumb .dslc-product-price .amount {
    vertical-align: middle;
}

#dslc-content .dslc-products .dslc-product-thumb .dslc-product-main {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#dslc-content .dslc-products .dslc-product-thumb .dslc-product-main.dslc-product-main-visible {
    opacity: 1 !important;
}

#dslc-content .dslc-products .dslc-product-thumb:hover .dslc-product-main {

}

body.dslca-enabled #dslc-content .dslc-products .dslc-post:first-child .dslc-product-thumb .dslc-product-main {
    opacity: 1;
}

#dslc-content .dslc-product-main {
    background: #1d1d1d;
    border-radius: 0 0 3px 3px;
    padding: 20px;
    text-align: center;
    border: 0px solid transparent;
}

#dslc-content .dslc-product-title {
    margin-bottom: 15px;
}

#dslc-content .dslc-product-price-secondary {
    color: #fff;
    float: left;
    font-size: 20px;
    line-height: 1;
    /*font-family: '';*/
}

#dslc-content .dslc-product-price-secondary ins {
    text-decoration: none;
    background: transparent;
}

#dslc-content .dslc-product-title h2 {
    clear: none;
    font-size: 11px;
    /*font-family: '';*/
    line-height: 1;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

#dslc-content .dslc-product-title h2 a {
    display: block;
    color: #7d7d7d;
    text-decoration: none;
}

#dslc-content .dslc-product-excerpt {
    border-bottom: 0 solid transparent;
}

#dslc-content .dslc-product-sep {
    display: block;
    border-bottom: 1px solid #4a4a4a;
    height: 1px;
    margin-bottom: 15px;
}

#dslc-content .dslc-product-extra {

}

#dslc-content .dslc-product-extra .dslc-product-add-to-cart {
    color: #8d8d8d;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    float: left;
}

#dslc-content .dslc-product-extra .dslc-product-details {
    color: #8d8d8d;
    font-size: 12px;
    text-decoration: none;
    line-height: 1;
    float: right;
}

#dslc-content .dslc-product-extra .dslc-icon {
    margin-right: 5px;
}

#dslc-content .dslc-tp-title {
    border: 0 solid transparent;
}

/*	#dslc-content .dslc-tp-title h1 {
		border: 0 solid transparent;
	}*/

#dslc-content .dslc-tp-content {
    border: 0 solid transparent;
}

#dslc-content .dslc-tp-meta {
    border: 0 solid transparent;
}

#dslc-content .dslc-tp-meta ul {
    margin: 0;
    list-style-type: none;
    font-size: 0;
}

#dslc-content .dslc-tp-meta-horizontal li {
    display: inline-block;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    list-style-type: none;
}

#dslc-content .dslc-tp-meta-horizontal li:first-child {
    margin-left: 0 !important;
}

#dslc-content .dslc-tp-meta-horizontal li:last-child {
    margin-right: 0 !important;
}

#dslc-content .dslc-tp-meta-vertical li {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#dslc-content .dslc-tp-meta-vertical li:first-child {
    margin-top: 0 !important;
}

#dslc-content .dslc-tp-meta-vertical li:last-child {
    margin-bottom: 0 !important;
}

#dslc-content .dslc-tp-meta-avatar {
    margin-right: 10px;
    width: 30px;
    display: inline-block;
}

#dslc-content .dslc-tp-meta-avatar img {
    vertical-align: middle;
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#dslc-content .dslc-tp-download-button a {
    border: 0px solid transparent;
    display: block;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    -webkit-appearance: none;
}

#dslc-content .dslc-tp-thumbnail {
    bottom: 0 solid transparent;
    overflow: hidden;
}

#dslc-content .dslc-tp-thumbnail img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

#dslc-content .dslc-tp-gallery-slider {
    border: 0 solid transparent;
}

#dslc-content .dslc-tp-gallery-slider-main {
    border: 0 solid transparent;
}

#dslc-content .dslc-tp-gallery-slider-main li {
    overflow: hidden;
}

#dslc-content .dslc-tp-gallery-slider-nav {
    border: 0 solid transparent;
}

#dslc-content .dslc-tp-gallery-slider-nav li {
    margin-right: 10px;
    padding: 5px;
    border: 1px solid red;
    cursor: pointer;
    opacity: 0.7;
}

#dslc-content .dslc-tp-gallery-slider-nav li.flex-active-slide {
    opacity: 1;
}

#dslc-content .dslc-tp-gallery-slider-arrows {

}

/**
 * Social
 */

#dslc-content ul.dslc-social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    line-height: 1;
}

#dslc-content ul.dslc-social li {
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
    margin-right: 10px;
    overflow: hidden;
}

#dslc-content ul.dslc-social a.dslc-social-icon {
    border: 0 solid transparent;
    /*display: block;*/
    background: #40bde6;
    text-decoration: none;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    /*text-align: center;*/
    font-size: 15px;
    position: relative;
    float: left;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#dslc-content ul.dslc-social .dslc-icon {
    line-height: 1;
    /*position: absolute;*/
}

#dslc-content ul.dslc-social .dslc-social-label {
    float: left;
    display: block;
}

#dslc-content ul.dslc-social li:last-child {
    margin-right: 0;
}

/**
 * Staff Social
 */

#dslc-content ul.dslc-staff-social {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 0;
    line-height: 1;
}

#dslc-content ul.dslc-staff-social li {
    margin: 0;
    padding: 0;
    line-height: 1;
    display: inline-block;
    overflow: hidden;
}

#dslc-content ul.dslc-staff-social a {
    border: 0 solid transparent;
    /*display: block;*/
    text-decoration: none;
    /*text-align: center;*/
    position: relative;
    float: left;

    display: inline-flex;
    justify-content: center;
    align-items: center;
}

#dslc-content ul.dslc-staff-social .dslc-icon {
    line-height: 1;
}

#dslc-content ul.dslc-staff-social .dslc-social-label {
    float: left;
    display: block;
}

/**
 * Notification
 */

.dslc-notification-box-has-timeout {
    display: none;
}

body.dslca-enabled .dslc-notification-box-has-timeout {
    display: block;
}

#dslc-content .dslc-notification-box-content {

}

#dslc-content .dslc-notification-box-content p:last-child {
    margin-bottom: 0;
}

#dslc-content .dslc-notification-box-close {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
    background: #ffffff;
    color: #f65757;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

#dslc-content .dslc-notification-box-close .dslc-icon {
    color: #f65757;
    font-size: 12px;
    text-align: center;
}

/**
 * Button
 */

#dslc-content .dslc-button {
    /*overflow: hidden;*/ /* <- Crops box-shadow. Not sure why we have it here. */
}

#dslc-content .dslc-button a {
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    box-shadow: none; /* override themes styling */
    -webkit-appearance: none;
}

/**
 * Comments
 */


.dslc-tp-comments ul,
.dslc-tp-comments ol,
.dslc-tp-comments li {
    list-style-type: none;
}

.dslc-tp-comments ol {
    margin-left: 0;
}

.dslc-tp-comments {
    border: 0 solid transparent;
}

.dslc-comment {
    border: 0 solid transparent;
    margin: 0;
}

.dslc-comment-inner {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
}

.dslc-comment-info {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

.dslc-comment-meta {
    float: left;
    margin: 0;
}

.dslc-comment-meta-author {
    display: inline-block;
    margin-right: 15px;
    line-height: 1;
}

.dslc-comment-author-avatar {
    margin-right: 5px;
}

.dslc-comment-meta-author a {
    color: inherit;
    text-decoration: none;
}

.dslc-comment-author-avatar img {
    vertical-align: middle;
}

.dslc-comment-meta-date {
    display: inline-block;
    line-height: 1;
}

.dslc-comment-reply {
    float: right;
}

.dslc-comment-reply a {
    text-decoration: none;
}

.dslc-comment-main {

}

.dslc-comment .dslc-comment {
    margin-left: 50px;
}


.dslc-tp-comment-form input[type=text]::-moz-placeholder,
.dslc-tp-comment-form input[type=url]::-moz-placeholder,
.dslc-tp-comment-form input[type=email]::-moz-placeholder,
.dslc-tp-comment-form textarea::-moz-placeholder {
    opacity: 1; /* Firefox adds opacity to input placeholders by default */
}


.dslc-tp-comment-form {
    border: 0 solid transparent;
}

.dslc-tp-comment-form input[type="text"] {
    line-height: 1;
}

.dslc-tp-comment-form input,
.dslc-tp-comment-form textarea {
    border: 0 solid transparent;
}

.dslc-tp-comment-form textarea {
    width: 100%;
    height: 130px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.dslc-tp-comment-form .logged-in-as {
    margin-bottom: 15px;
}

.dslc-tp-comment-form #submit {
    cursor: pointer;
}


/**
 * Image Module
 */

.dslc-image,
.dslc-image img {
    border: 0;
    box-shadow: none;
}

#dslc-content .dslc-image,
#dslc-content .dslc-image > a {
    display: inline-block;
}

#dslc-content .dslc-image img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    box-shadow: none;
    border-radius: none;
    position: relative;
    /*z-index: -1; – used this to make inner shadow working but it cause more issues */
}

/**
 * Progress Bar
 */

#dslc-content .dslc-progress-bar {
    border: 0 solid transparent;
}

#dslc-content .dslc-progress-bar-label {
    margin: 0;
    padding: 0;
    line-height: 1;
}

#dslc-content .dslc-progress-bar-loader {
    background: #666;
    display: block;
    height: 18px;
}

#dslc-content .dslc-progress-bar-loader-inner {
    display: block;
    float: left;
    overflow: hidden;
    white-space: nowrap;
}

#dslc-content .dslc-progress-bar-animated .dslc-progress-bar-loader-inner {
    opacity: 0;
}

#dslc-content .dslca-enabled .dslc-progress-bar-animated .dslc-progress-bar-loader-inner {
    opacity: 1;
}

/**
 * Accordion
 */

#dslc-content .dslc-accordion {
    border: 0 solid transparent;
}

#dslc-content .dslc-accordion-item {

}

#dslc-content .dslc-accordion-item:first-child {
    margin-top: 0 !important;
}

#dslc-content .dslc-accordion-header {
    border: 0 solid transparent;
    display: block;
    font-size: 11px;
    /*font-family: '';*/
    font-weight: bold;
    font-size: 11px;
    line-height: 1;
    position: relative;
}

#dslc-content .dslc-accordion-title {
    border: 0 solid transparent;
    display: block;
}

#dslc-content .dslc-accordion-hook {
    cursor: pointer;
}

#dslc-content .dslc-accordion-toggle {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

#dslc-content .dslc-accordion-content {
    position: relative;
    border: 0 solid transparent;
}

#dslc-content .dslca-add-accordion {
    text-align: center;
}

#dslc-content .dslca-add-accordion-hook {
    background: #78CA4F;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-size: 12px;
    height: 20px;
    text-align: center;
    line-height: 22px;
    width: 20px;
    position: relative;
    margin-top: 10px;
}

#dslc-content .dslca-accordion-action-hooks {
    position: absolute;
    right: 14px;
    top: 14px;
}

#dslc-content .dslca-move-up-accordion-hook,
#dslc-content .dslca-move-down-accordion-hook {
    color: #5890e5;
}

#dslc-content .dslca-move-up-accordion-hook:hover,
#dslc-content .dslca-move-down-accordion-hook:hover {
    color: #3b6fbe;
}

#dslc-content .dslca-delete-accordion-hook {
    color: #E55F5F;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    margin-left: 10px;
    line-height: 1;
    vertical-align: top;
}

/**
 * Icon
 */

#dslc-content .dslc-icon-module {
    position: relative;
    display: inline-block;
}

#dslc-content .dslc-icon-module .dslc-icon {

}

/**
 * Navigation
 */

#dslc-content .dslc-navigation {
    z-index: 999;
    position: relative;
    text-align: right;
    font-size: 0;
}

/* Disable pro menu icons in a regular navigation module. */
body .dslc-navigation .menu-item[class^="dslc-icon-"]:before,
body .dslc-navigation .menu-item[class*=" dslc-icon-"]:before {
    display: none;
}


/* https://github.com/live-composer/live-composer-page-builder/issues/547 */
/*#dslc-content .dslc-navigation-inner {
    display: inline-block;
}*/

#dslc-content .dslc-navigation .menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Top level menu li */
#dslc-content .dslc-navigation .menu > li {
    display: inline-block;
    position: relative;
    /*z-index: 99998; – it breaks sub-menu popups. No z-index should be here.*/
}

/* Top level horizontal menu li */
#dslc-content .dslc-navigation.dslc-navigation-orientation-horizontal .menu > li {
    margin-top: 0 !important
}

/* Top level vertical menu li */
#dslc-content .dslc-navigation.dslc-navigation-orientation-vertical .menu > li {
    display: block;
    margin-left: 0 !important;
}

/* Top level first menu li */
#dslc-content .dslc-navigation .menu > li:first-child {
    margin-left: 0 !important;
}

/* Top level vertical menu li */
#dslc-content .dslc-navigation.dslc-navigation-orientation-vertical .menu > li:first-child {
    margin-top: 0 !important;
}

/* Top level menu a */
#dslc-content .dslc-navigation .menu > li > a {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}

/* Nav arrow ( submenu indicator ) */
#dslc-content .dslc-navigation-arrow {
    display: inline-block;
    margin-left: 5px;
    vertical-align: middle;
}

/* Inner level menu ul */
#dslc-content .dslc-navigation .menu ul {
    display: none;
    list-style-type: none;
    margin: 0;
    opacity: 0;
    position: absolute;
    z-index: 10; /* Required to have sub-menu pop-up to cover other meny items properly*/
    top: 100%;
    left: -28px;
    text-align: left;
}

/* Left position menu */
#dslc-content .dslc-navigation.dslc-navigation-sub-position-left .menu ul {
    left: 0;
    right: auto;
}

/* Right position menu */
#dslc-content .dslc-navigation.dslc-navigation-sub-position-right .menu ul {
    right: 0;
    left: auto;
}

/* Center position menu */
#dslc-content .dslc-navigation.dslc-navigation-sub-position-center .menu ul {
    left: auto;
    right: auto;
}

/* Inner level vertical menu ul */
#dslc-content .dslc-navigation-orientation-vertical .menu ul {
    top: 0;
    left: 100%;
}

/* Inner level menu inverted */
#dslc-content .dslc-navigation .menu ul.dslc-navigation-invert-subnav {
    left: auto;
    right: 0;
}

/* Inner level menu li */
#dslc-content .dslc-navigation .menu ul li {
    display: block;
    position: relative;
    z-index: 3;
    white-space: nowrap;
    margin: 0;
}

/* Inner level menu a */
#dslc-content .dslc-navigation .menu ul li a {
    display: block;
    line-height: 1;
    text-decoration: none;
}

/* Inner level menu last item a */
#dslc-content .dslc-navigation .menu ul li:last-child a {
    border-bottom: 0 !important;
}

/* Inner level nav arrow ( submenu indicator ) */
#dslc-content .dslc-navigation .dt-icon.dt-subnav-arrow {
    display: none;
    color: #bfbfbf;
    font-size: 8px;
    margin-left: 10px;
    vertical-align: middle;
    position: relative;
    top: -3px;
    margin-right: 0;
}

/* Inner level nav arrow current menu item */
#dslc-content .dslc-navigation li.current-menu-item .dt-icon.dt-subnav-arrow {
    color: #878787;
}

/* Second Level menu ul */
#dslc-content .dslc-navigation .menu ul ul {
    left: 100%;
    margin-left: -1px;
    top: -1px;
}

/* We don't apply design settings to sub-menu ul directly
    but using pseudo element. */
#dslc-content .dslc-navigation .menu ul:before {
    position: absolute;
    content: '';
    display: block;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 2;

    border-style: solid;
}

/* Invisible buffer for better hover experience */
#dslc-content .dslc-navigation .menu li:hover > ul.sub-menu:after {
    display: block;
    content: "";
    left: -10px;
    right: -10px;
    bottom: -10px;
    top: -10px;
    z-index: 0;
    position: absolute;
}

/* Second level menu inverted */
#dslc-content .dslc-navigation .menu ul ul.dslc-navigation-invert-subnav {
    left: auto;
    right: 100%;
}

/* Inner level menu show */
#dslc-content .dslc-navigation .menu li:hover > ul.sub-menu {
    display: block;
    opacity: 1;
}

/**
 * Mobile Navigation
 */

#dslc-content .dslc-mobile-navigation {
    position: relative;
    text-align: right;
    display: none;
}

#dslc-content .dslc-mobile-navigation select {
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 0;
    padding-bottom: 0;
    z-index: 10;
    height: 38px;
    width: 100%;
}

#dslc-content .dslc-mobile-navigation-hook {
    color: #555;
    font-size: 24px;
    line-height: 22px;
}

/**
 * All Posts Related Modules
 */

.dslc-post-main-inner-link-cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.dslc-posts-social-share {
    line-height: 1;
}

.dslc-posts-social-share a:last-child {
    margin-right: 0 !important;
}

.dslc-posts-social-share-count {
    display: inline-block;
    border-style: solid;
}


/** Common */
.dslc-center-elem {
    top: 50%;
    position: relative;
    left: 50%;
    visibility: visible;
    transform: translate(-50%, -50%);
}


/**
 * ----------------------------------------------------------------------
 * Responsive classes and properties
 */

/* Desktop */
@media only screen and (min-width: 1025px) {


}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

    #dslc-content .dslc-mobile-navigation.dslc-navigation-res-t-enabled {
        display: block;
    }

    #dslc-content .dslc-navigation.dslc-navigation-res-t-enabled {
        display: none;
    }

    .dslc-post-main-inner-link-cover {
        display: block;
    }

}

/* Smartphone */
@media only screen and ( max-width: 767px ) {
    .dslc-tabs-nav {
        display: none;
    }

    .dslc-tabs-tab-content {
        display: block !important;
    }

    .dslc-tabs-content .dslc-tabs-nav-hook {
        display: block !important;
        float: none !important;
        margin-bottom: 20px;
    }

    .dslc-comment .dslc-comment {
        margin-left: 0;
    }

    .dslc-comment .children {
        margin-left: 0;
        padding-left: 0;
    }

    #dslc-content .dslc-mobile-navigation.dslc-navigation-res-p-enabled {
        display: block;
    }

    #dslc-content .dslc-navigation.dslc-navigation-res-p-enabled {
        display: none;
    }

    .dslc-post-main-inner-link-cover {
        display: block;
    }

    .dslc-carousel .dslc-carousel-item {
        margin-left: 0 !important; /* https://github.com/live-composer/live-composer-page-builder/issues/555 */
    }

    body #dslc-content .dslc-partner-thumb {
        width: 100%;
    }

    #dslc-content .dslc-posts.dslc-carousel-arrow-aside {
        width: 80%;
    }

    #dslc-content .dslc-posts-orientation-horizontal .dslc-post-main {
        overflow: visible;
    }
}
