@charset "UTF-8";


a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em,
fieldset, font, form, h1, h2, h3, h4, h5, h6, html, iframe, ins, kbd, label, legend, li, object, ol, p, pre, q,
s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline
}

html {
	font-size: 62.5%;
	overflow-y: scroll;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

*, :after, :before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

article, aside, details, figcaption, figure, footer, header, main, nav, section {
	display: block
}

ol, ul {
	list-style: none
}

table {
	border-collapse: separate;
	border-spacing: 0
}

caption, td, th {
	font-weight: 400;
	text-align: left
}

blockquote:after, blockquote:before, q:after, q:before {
	content: ""
}

blockquote, q {
	quotes: "" ""
}

a:focus {
	outline: thin dotted
}

a:active, a:hover {
	outline: 0
}

a img {
	border: 0
}

img, embed, iframe, object {
	max-width: 100%;
}

body
.align-center {
	text-align: center;
}




/********************************************************************************
 * Sharetribe relies on the base font size to size everything else. This resets
 * the font size so the ovewrall size matches Sharetribe.
 * @include url('sharetribe.css')
 ********************************************************************************/
.header {
	position: relative;
	font-size: 12pt;
	line-height: 24px;
}

.header .header-wrapper,
.header-wrapper .header-right a {
	font-family: 'Source Sans Pro', helvetica, sans-serif !important;
}

/********************************************************************************
 * Live Composer blank template overrides
 ********************************************************************************/
/** Outside div container for the city images */
.city-image-container {
	width: 300px;
	height: 300px;
	margin-left: 10px;
	margin-right: 10px;
}

.city-image-container a {
	text-decoration: none;
}

.city-image-container div {
	width: 300px;
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	/*background-image: url('/content/4/uploads/sites/4/2016/06/LA_Skyline_Mountains2-300x300-300x300.jpg');*/
}

/** city-image-row is the content row */
/** https://stackoverflow.com/questions/114543/horizontally-center-a-div-in-a-div */
.city-image-row > div > div {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}


.dslc-button .header-menu-button {
	line-height: 40px !important;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

/**
 * Prevent extra space below header menu.
 * dslc-modules-area adds extra padding below all modules (not content) areas for tablets/mobile.
 */
.dslc-modules-area {
	margin-bottom: 0 !important;
}

/********************************************************************************
 * Explore Cities
 ********************************************************************************/
.explore-cities .los-angeles {
	background-image: url("/images/la-skyline-mountains-300x300.jpg");
}

.explore-cities .orange-county {
	background-image: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)),
		url("/images/dana-point-orange-county-300x300.jpg");
}

.explore-cities .other-cities {
	background-image: url("/images/san-diego-300x300.jpg");
}

/**
 * This needs to be P because H3 margins conflict with the size
 */
.section-container .explore-cities p {
	font-size: 30px;
	color: rgb(255, 255, 255);
	/*color: rgb(0, 0, 0);*/
	font-weight: bold;
}

.section-container .explore-cities .content-box {
	border: 0;
}

/** Desktop */
@media screen and (min-width: 1024px) {
	.section-container .explore-cities .everywhere-else {
		width: 620px;
	}

	.flex-container {
		flex-wrap: wrap;
	}

	.explore-cities .everywhere-else {
		background-image: url("/images/san-diego-620x300.jpg");
	}
}

/** Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.section-container .explore-cities .everywhere-else {
		width: 620px;
	}

	.flex-container {
		flex-wrap: wrap;
	}

	.explore-cities .everywhere-else {
		background-image: url("/images/san-diego-620x300.jpg");
	}
}

/** Mobile */
@media screen and (max-width: 767px) {
	.section-container .explore-cities .everywhere-else {
		width: 300px;
	}

	.flex-container {
		flex-wrap: wrap;
		flex-direction: column;
	}

	.explore-cities .everywhere-else {
		background-image: url("/images/san-diego-300x300.jpg");
	}
}


/********************************************************************************
 * Am I covered? section
 ********************************************************************************/
.tooltoyou-container h2 {
	font-family: 'Open Sans', 'Source Sans Pro', helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	/*line-height: 30px;*/
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
}

.tooltoyou-container h3 {
	font-family: 'Open Sans', 'Source Sans Pro', helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	/*line-height: 20px;*/
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
	color: #999999;
}

.covered-container {
	margin: 0 auto;
}

.covered-header, .how-it-works-video-header {
	font-family: 'Open Sans', 'Source Sans Pro', helvetica, sans-serif;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 0;
}

.covered-box {
	position: relative;
	border: 2px solid #000000;
	width: 300px;
	height: 300px;
	padding: 18px;
	text-align: center;
}

.covered-box h2 {
	font-size: 24px;
	/*line-height: 26px;*/
	font-weight: bold;
	margin-bottom: 15px;
}

.covered-box p {
	font-size: 16px;
	line-height: 20px;
}

.covered-box a:link,
.covered-box a:visited,
.covered-box a:hover,
.covered-box a:active {
	text-decoration: none;
	color: #a1a1a1;
}

.covered-text-container {
	position: absolute;
	top: 0;
	width: 260px;
	height: 156px;
	margin-top: 140px;
	color: #a1a1a1;
}

.covered-lock-icon {
	/*background-color: rgba(255, 0, 0, 0.2);*/
	background-image: url("/images/lock.svg");
	background-size: auto 80px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	height: 120px;
	padding: 20px 0;
}

.covered-paypal-icon {
	background-image: url("/images/PayPal.svg");
	background-size: 220px auto;
	background-repeat: no-repeat;
	background-position: center center;
	width: auto;
	height: 100px;
	margin: 0 auto;
}

.how-it-works-video {
	margin: 0 auto;
}

.diy-video .flex-container > div {
	margin: 10px;
}

/** Desktop */
.show-mobile, .show-tablet, .show-desktop {
	display: none;
}
@media screen and (min-width: 1024px) {
	.content-container.how-it-works-video {
		width: 800px;
	}

	.covered-container {
		width: 640px;
	}

	.covered-box-position-left {
		float: left;
	}

	.covered-box-position-right {
		float: right;
	}

	.covered-box {
		margin: 10px 10px;
	}

	.show-desktop {
		display: block !important;
	}
}

/**
 * Tablet
 * Previously 783px
 */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.content-container.how-it-works-video {
		width: 600px;
	}

	.covered-container {
		width: 640px;
	}

	.covered-box-position-left {
		float: left;
	}

	.covered-box-position-right {
		float: right;
	}

	.covered-box {
		margin: 10px 10px;
	}

	.show-tablet {
		display: block !important;
	}
}

/**
 * Mobile
 * Previously 782px
 */
@media screen and (max-width: 767px) {
	.content-container.how-it-works-video {
		width: 300px;
	}

	.covered-container {
		width: 300px;
	}

	.covered-box-position-left, .covered-box-position-right {
		margin: 10px auto;
	}

	.covered-box {
		margin: 10px auto;
	}

	.show-mobile {
		display: block !important;
	}
}

/********************************************************************************
 * Studiotime styles for search box
 ********************************************************************************/
.sharetribe-search-container .button-search {
	line-height: 60px;
	padding: 0px 30px;
	display: inline-block;
	border: 0px;
	border-radius: 3px;
	position: relative;
}

/** Button colors */
.button-color {
	background-color: #3f86ff;
	color: #ffffff;
}
.button-color:hover {
	background: #2576ff;
	color: #ffffff;
}

.button-color:active {
	background: #0c66ff;
	color: #ffffff;
}


.sharetribe-search-container {
	padding-left: 0px !important;
	padding-right: 0px !important;
	height: 100%;
	width: 100%;
	font-family: "Source Sans Pro", helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #000000;
}


.sharetribe-search-container a:hover,
.sharetribe-search-container input[type=submit]:hover {
	opacity: 0.75;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	text-decoration: none;
}

/**
 * Learn more about section
 * This needs to be P because H3 margins conflict with the size
 */
.section-container .learn-more-about p {
	font-size: 24px;
}

/** AM I covered section */
.section-container .am-i-covered h3 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
	color: #000000;
}

.tooltoyou-container.sharetribe-search-container h1 {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	/*font-family: Plantin, AmericanTypewriter-Condensed, "Times New Roman", serif;*/
	font-size: 24pt;
	margin-top: 15px;
	margin-bottom: 0;
}

.tooltoyou-container.sharetribe-search-container h2 {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
	/*font-family: Freight, HoeflerText-Black, "Times New Roman", serif;*/
	font-size: 48pt;
	margin-bottom: 15px;
}

/** Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.tooltoyou-container.sharetribe-search-container h1 {
		font-size: 22pt;
		margin-top: 20px;
		margin-bottom: 0;
	}

	.tooltoyou-container.sharetribe-search-container h2 {
		font-size: 44pt;
		margin-bottom: 20px;
	}
}

/** Mobile */
@media screen and (max-width: 767px) {
	.tooltoyou-container.sharetribe-search-container h1 {
		font-size: 20pt;
		margin-top: 20px;
		margin-bottom: 0;
	}

	.tooltoyou-container.sharetribe-search-container h2 {
		font-size: 40pt;
		margin-bottom: 30px;
		padding-bottom: 0;
	}
}

/** Mobile - small */
@media screen and (max-width: 480px) {
	.sharetribe-search-container .layout-centered-content {
		padding-right: 10px;
		padding-left: 10px;
	}

	.sharetribe-search-container h1 {
		font-size: 32px;
		line-height: normal;
	}

	.sharetribe-search-container h2 {
		font-size: 20px;
		line-height: normal;
	}
}

.sharetribe-search-container {
	color: #ffffff;
	padding: 140px 0px 165px 0px;
	text-align: center;
	height: 535px;
	overflow: hidden;
	position: relative;
}

.sharetribe-search-container img {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

.sharetribe-search-container h1 {
	font-size: 58px;
	/*line-height: 65px;*/
	font-weight: 100;
	color: #ffffff;
	padding-bottom: 0px;
	margin: 0 0 15px 0;
}

.sharetribe-search-container h2 {
	font-size: 24px;
	/*line-height: 36px;*/
	font-weight: 100;
	color: #ffffff;
	padding-bottom: 0;
	margin: 0 0 15px 0;
}

.sharetribe-search-container form {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
}

.sharetribe-search-container form .input-container {
	width: 730px;
	float: left;
}

.sharetribe-search-container form input[type=text] {
	width: 65%;
	line-height: 58px;
	font-size: 18px;
	font-weight: 100;
	color: #3d3d3d;
	padding: 2px 25px 0px 25px;
	background-color: #ffffff;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0px;
	float: left;
}

.sharetribe-search-container form .dropdown {
	position: relative;
	height: 60px;
	width: 33%;
	float: left;
	margin-left: 2px;
	z-index: 100;
}

.sharetribe-search-container form .dropdown .current-value {
	background: #ffffff url("/images/sprites.png") 15px 16px no-repeat;

	width: 100%;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: block;
	color: #3d3d3d;
	line-height: 60px;
	padding: 2px 40px 0px 40px;
	text-align: left;
	cursor: pointer;
}

.sharetribe-search-container form .dropdown .dd-icon {
	background: url("/images/sprites.png") 0px -50px no-repeat;
	width: 19px;
	height: 12px;
	padding: 12px 0px 0px 0px;
	overflow: hidden;
	position: absolute;
	top: 23px;
	right: 16px;
}

.sharetribe-search-container form .dropdown.open ul {
	display: block;
}

.sharetribe-search-container form .dropdown.open .current-value {
	border-bottom-right-radius: 0px;
}

.sharetribe-search-container form .dropdown ul {
	display: none;
	width: 100%;
	padding: 0px;
	max-height: 150px;
	overflow-y: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.sharetribe-search-container form .dropdown ul li {
	list-style-type: none;
}

.sharetribe-search-container form .dropdown ul li a {
	display: block;
	background-color: #dddddd;
	text-align: left;
	padding: 3px 20px 3px 40px;
	color: #3d3d3d;
}

.sharetribe-search-container form .dropdown ul li a:hover {
	opacity: 1.0 !important;
	background-color: #cccccc;
}

.sharetribe-search-container form .dropdown ul li:first-child a {
	padding-top: 10px;
}

.sharetribe-search-container form .dropdown ul li:last-child a {
	padding-bottom: 10px;
}


.sharetribe-search-container .layout-centered-content {
	width: 940px;
	margin: 0px auto;
}
/*@media screen and (max-width: 767px) {*/
/*}*/
@media screen and (max-width: 967px) {
	.sharetribe-search-container .layout-centered-content {
		width: auto;
	}

	.sharetribe-search-container {
		padding: 25px 0px;
	}

	.sharetribe-search-container form .input-container {
		float: none;
		width: 100%;
	}

	.sharetribe-search-container form .input-container input[type=text] {
		width: 100%;
		float: none;
		border-radius: 4px;
		font-size: 15px;
	}

	.sharetribe-search-container form .input-container .dropdown {
		margin: 10px 0px;
		width: 100%;
		float: none;
		margin-left: 0px;
	}

	.sharetribe-search-container form .input-container .dropdown .current-value {
		border-radius: 4px;
	}

	.sharetribe-search-container form input[type=submit] {
		float: none;
	}

}



/********************************************************************************
 * Sharetribe styles
 ********************************************************************************/
body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dt, dd, ol, ul, li, hr, fieldset, form, label, legend, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, summary, hgroup {
	margin: 0;
	padding: 0;
	border: 0
}

h1, h2, h3, h4, h5, h6, small {
	font-size: 1em
}

html {
	height: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}

body {
	height: 100%;
	min-height: 100%;
	font-size: 100%;
	position: relative
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block
}


input, textarea, button, select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
	font-family: inherit
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button
}


button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

a img, img {
	-ms-interpolation-mode: bicubic;
	border: 0
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

a, input, button {
	-ms-touch-action: none !important
}

/*
body {
	font-family: 'Source Sans Pro', helvetica, sans-serif;
	font-size: 1em;
	line-height: 1.5em
}

@media screen and (max-width: 19.875em) {
	body {
		font-size: 0.8125em
	}
}


body {
	background: white;
	color: #3c3c3c;
	height: auto
}

ul {
	padding-left: 1.5em
}
*/

.icon-with-text {
	display: inline-block;
	padding-right: 0.25em;
	position: relative;
	top: 0.125em
}


.visible-tablet,
.visible-tablet-inline,
.visible-desktop-inline {
	display: none !important
}

@media screen and (min-width: 48em) {
	.visible-tablet,
	.visible-tablet-inline,
	.visible-desktop-inline {
		display: block !important
	}
}

@media screen and (min-width: 48em) {
	.visible-tablet-inline {
		display: inline !important
	}
}

@media screen and (min-width: 48em) {
	.hidden-tablet {
		display: none !important
	}
}

.visible-desktop {
	display: none
}

@media screen and (min-width: 63em) {
	.visible-desktop {
		display: block
	}
}

@media screen and (min-width: 48em) {
	.visible-desktop-inline {
		display: inline
	}
}

@media screen and (min-width: 63em) {
	.hidden-desktop {
		display: none !important
	}
}

a {
	text-decoration: none;
	color: #00a9fb
}

a:hover {
	color: #0075ae
}

a:active {
	color: #00537b
}

h1 {
	-webkit-font-smoothing: antialiased
}

h1, h2 {
	font-family: 'Source Sans Pro', helvetica, sans-serif;
	color: #171717
}

h1 {
	margin: 0em 0 0.75em;
	font-weight: 700
}

/*
@media screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.625em;
		line-height: 1.38462em;
		font-weight: 600;
		margin-top: 0.23077em;
		margin-bottom: 0.46154em
	}
}

h2 {
	margin: 0em 0 0.75em;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 500
}

@media screen and (min-width: 37.5em) {
	h2 {
		font-size: 1.375em;
		line-height: 1.09091em;
		font-weight: 600;
		font-weight: 500;
		text-transform: none
	}
}
*/

.toggle-menu {
	background: #474747;
	border-color: #474747 !important;
	position: relative;
	z-index: 99999;
	text-align: left;
	margin-bottom: 0.75em
}

.toggle-menu a,
.toggle-menu a .feedback,
.toggle-menu .toggle-menu-item,
.toggle-menu .toggle-menu-title,
.toggle-menu .toggle-menu-item .feedback,
.toggle-menu .toggle-menu-title .feedback {
	display: block;
	position: relative;
	color: white;
	padding: 0.75em;
	padding-right: 0.75em
}

.toggle-menu a.login-form,
.toggle-menu .toggle-menu-item.login-form,
.toggle-menu .login-form.toggle-menu-title {
	padding: 0
}

.toggle-menu a.login-form:hover,
.toggle-menu .toggle-menu-item.login-form:hover,
.toggle-menu .login-form.toggle-menu-title:hover {
	color: #62ccff;
	background: none
}

.toggle-menu a.login-form:after,
.toggle-menu .toggle-menu-item.login-form:after,
.toggle-menu .login-form.toggle-menu-title:after {
	content: ""
}

.toggle-menu a:hover,
.toggle-menu .toggle-menu-link:hover {
	background: #00a9fb;
	color: white
}

.toggle-menu a:hover:after,
.toggle-menu .toggle-menu-link:hover:after {
	color: white
}

.toggle-menu .toggle-menu-title {
	background-color: #545454
}

.toggle-menu p.login-form {
	color: white;
	margin: 0.375em 0 0.75em 0
}


.toggle-menu.hidden {
	display: none
}


@media screen and (min-width: 48em) {
	.toggle-menu {
		position: absolute
	}
}

.toggle {
	display: block;
	cursor: pointer
}

@media screen and (min-width: 48em) {
	.toggle {
		display: inline-block;
		width: auto
	}
}

.toggle.toggled {
	background: #474747;
	color: white !important;
	border-color: #474747
}

@media screen and (min-width: 48em) {
	.toggle.toggled {
		width: auto;
		border-bottom-color: #474747 !important
	}
}


.toggle-header {
	display: inline-block
}

.toggle-header-container {
	padding: 0 0.75em;
	height: 42px;
	line-height: 40px
}


.toggle-menu-subitem, a.toggle-menu-subitem {
	padding-left: 1.5em
}

.relative {
	position: relative
}

/* This causes the city dropdown to not appear. */
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}

.hidden {
	display: none;
	visibility: hidden;
}

.center {
	margin: 0 auto;
	/*
	margin-left: auto;
	margin-right: auto;
	*/
}

.left {
	float: left
}

.right {
	float: right
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column {
	flex-direction: column;
}



.header {
	height: 3.75em;
	width: 100%
}

.header-wrapper {
	background: white;
	margin: 0 auto;
	max-width: 63em;
	padding-left: 0;
	padding-right: 0
}

@media screen and (min-width: 48em) {
	.header-wrapper {
		padding-left: 0.75em;
		padding-right: 0.75em
	}
}

.header-left {
	float: left
}

.header-right {
	float: right
}

.header-padding {
	margin-left: 0.75em
}

.header-hover:hover {
	background-color: #e8e8e8
}

.header-hover.toggled {
	background-color: #474747
}

.header-logo {
	display: block;
	display: block;
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	height: 2.5em
}

.header-text-link {
	height: 3.75em;
	line-height: 3.5625em;
	padding-right: 0.75em;
	padding-left: 0.75em;
	display: block;
	color: #3c3c3c
}

.header-text-link:hover {
	color: #3c3c3c
}

.toggled .header-text-link {
	color: white
}

.button-new-listing {
	-webkit-border-radius: 0.3125em;
	-moz-border-radius: 0.3125em;
	-ms-border-radius: 0.3125em;
	-o-border-radius: 0.3125em;
	border-radius: 0.3125em;
	background: #3f86ff;
	color: white;
	text-align: center;
	cursor: pointer;
	margin: 0.75em 0;
	padding: 0 1.5em;
	padding-bottom: 4px;
	height: 2.625em;
	border: 0;
	display: table;
	line-height: 1.5em;
	display: block;
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	height: 2.5em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	line-height: 2.3125em
}

.button-new-listing .content {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

.button-new-listing:hover {
	background: #2576ff;
	color: white
}

.button-new-listing:active {
	background: #0c66ff;
	color: white
}

.header-menu-container {
	display: block;
	padding: 0.625em 0.75em;
	height: 3.75em
}

.header-menu-toggle-container {
	-webkit-border-radius: 0.3125em;
	-moz-border-radius: 0.3125em;
	-ms-border-radius: 0.3125em;
	-o-border-radius: 0.3125em;
	border-radius: 0.3125em;
	background: #e8e8e8;
	color: white;
	text-align: center;
	cursor: pointer;
	margin: 0.75em 0;
	padding: 0 1.5em;
	padding-bottom: 4px;
	height: 2.625em;
	border: 0;
	display: table;
	line-height: 1.5em;
	padding: 0 0.75em;
	height: 2.5em;
	line-height: 2.3125em;
	margin: 0;
	padding-bottom: 0;
	padding-top: 0;
	color: #3c3c3c
}

.header-menu-toggle-container .content {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

.header-menu-toggle-container:hover {
	background: #dbdbdb;
	color: white
}

.header-menu-toggle-container:active {
	background: #cfcfcf;
	color: white
}

.toggled .header-menu-toggle-container {
	color: white;
	background-color: #474747
}

.header-menu-icon {
	position: relative;
	top: 3px
}

@media screen and (min-width: 48em) {
	.header-menu-icon {
		padding-right: 0.25em
	}
}


.header-toggle-menu-language {
	min-width: 12.5em;
	position: absolute
}


.header-toggle-menu-menu {
	min-width: 12.5em;
	position: absolute
}

.header-inbox-link {
	color: #3c3c3c;
	position: relative
}

.header-inbox {
	font-size: 1.375em;
	line-height: 1.09091em;
	font-weight: 600;
	position: relative;
	top: 0.25em
}


.header-wide-logo-text,
.header-square-logo-text {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	line-height: 2.5rem;
	height: 2.5rem;
	font-size: 1.75em;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	font-weight: 800
}

.header-wide-logo-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 9.375rem;
	height: 2.5rem
}

.header-square-logo-text {
	width: 2.5rem;
	height: 2.5rem
}

.header-wide-logo {
	/*background-image: url("https://user-assets.sharetribe.com/images/communities/wide_logos/17731/header/TOOLTOYOU_LOGO.png?1464134472");*/
	background-image: url("/images/tooltoyou-logo.png");

	width: 10.5em;
	height: 2.5em;
	background-repeat: no-repeat;
	-webkit-background-size: 10.5em auto;
	-moz-background-size: 10.5em auto;
	-o-background-size: 10.5em auto;
	background-size: 10.5em auto;
	display: inline-block
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.header-wide-logo {
		/*background-image: url("https://user-assets.sharetribe.com/images/communities/wide_logos/17731/header_highres/TOOLTOYOU_LOGO.png?1464134472")*/
		background-image: url("/images/tooltoyou-logo-hires.png");
	}
}

.header-square-logo {
	/*background-image: url("https://user-assets.sharetribe.com/images/communities/logos/17731/header_icon/Icon.png?1459568318");*/
	background-image: url("/images/tooltoyou-logo-icon.png");
	width: 2.5em;
	height: 2.5em;
	background-repeat: no-repeat;
	-webkit-background-size: 2.5em auto;
	-moz-background-size: 2.5em auto;
	-o-background-size: 2.5em auto;
	background-size: 2.5em auto;
	display: inline-block
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.header-square-logo {
		/*background-image: url("https://user-assets.sharetribe.com/images/communities/logos/17731/header_icon_highres/Icon.png?1459568318")*/
		background-image: url("/images/tooltoyou-logo-icon-hires.png");
	}
}


/********************************************************************************
 * Section container is the full-width outside container for the module area.
 * Content container is for everything inside.
 ********************************************************************************/
.grey-background {
	background-color: rgb(245, 245, 245);
}

.white-background {
	background-color: rgb(255, 255, 255);
}

.section-container {
	padding-top: 25px;
	padding-bottom: 25px;
}
.section-container-old {
	padding-top: 25px;
	padding-bottom: 25px;
}

.content-container,
.text-container {
	margin: 0 auto;
}

.text-container a:link,
.text-container a:visited,
.text-container a:hover,
.text-container a:active {
	text-decoration: none;
	color: #a1a1a1;
}

/** Desktop */
@media screen and (min-width: 1024px) {
	.content-container {
		width: 640px;
	}
}

/** Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.content-container {
		width: 640px;
	}
}

/** Mobile */
@media screen and (max-width: 767px) {
	.content-container {
		width: 300px;
	}
	.flex-container {
		flex-wrap: wrap;
	}
}

.flex-container {
	display: flex;
}

.content-box {
	display: inline-block;
	border: 2px solid rgb(200, 200, 200);
	width: 300px;
	height: 300px;
	padding: 0;
	margin: 10px;
}

.learn-more-about .content-box {
	height: 150px;
}

.learn-more-about .arrow {
	font-size: 18px;
	font-weight: bold;
}

.content-box {
	/*background-color: rgba(0, 255, 0, 0.1);*/
}

.youtube-video {
	-moz-box-shadow:    4px 4px 10px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.4);
	-o-box-shadow:      4px 4px 10px 0 rgba(0, 0, 0, 0.4);
	box-shadow:         4px 4px 10px 0 rgba(0, 0, 0, 0.4);
}


/********************************************************************************
 * How it works
 ********************************************************************************/
.how-it-works-video .youtube-video iframe {
	width: 800px;
	height: 450px;
}
/** Desktop */
@media screen and (min-width: 1024px) {
	.how-it-works-video .youtube-video iframe {
		width: 800px;
		height: 450px;
	}
}
/** Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.how-it-works-video .youtube-video iframe {
		width: 600px;
		height: 338px;
	}
}
/** Mobile */
@media screen and (max-width: 767px) {
	.how-it-works-video .youtube-video iframe {
		width: 300px;
		height: 169px;
	}
}

/********************************************************************************
 * Section headers - Font styling
 ********************************************************************************/
.text-container {
	font-family: 'Open Sans', 'Source Sans Pro', helvetica, sans-serif;
}

.text-container h2 {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
}

.text-container h3 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
	color: #999999;
}

.text-container h4 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
	color: #000000;
}
