<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="A peer-to-peer website that allows users to rent or list tools and equipment locally. Save money on DIY projects or make money on the hardware tools sitting in the garage.">
    <meta name="keywords" content=" Tools to rent,
									Home improvement tools,
									Tools and Equipment,
									Do it Yourself Projects,
									DIY Projects,
									DIY Tools,
									Gardening tools,
									Peer to peer website,
									Renting a ladder,
									Tool rentals near my location,
									Rent garden tools,
									Lawn tool rental,
									Power tool rentals,
									Construction equipment rental companies,
									Tool rental places,
									Heavy equipment rental companies,
									Equipment rental company,
									Renting equipment,
									Construction rentals,
									Garden equipment rental,
									Rental power equipment,
									Landscape tool rental,
									Rent tools and equipment,
									Electrical tool rental">

    <title>ToolToYou | Rent or List Tools Locally - tooltoyou.com</title>

    {{ partial "google-analytics" . }}
    <link rel="profile" href="https://gmpg.org/xfn/11">
    <link rel="dns-prefetch" href="https://tooltoyou.com/">
    <link rel="dns-prefetch" href="https://fonts.googleapis.com/">
    <link rel="dns-prefetch" href="https://s.w.org/">

    <link rel="stylesheet" id="dslc-fontawesome-css" href="{{ "webfonts/font-awesome.css" | relURL }}" type="text/css" media="all">
    <link rel="stylesheet" id="dslc-main-css-css" href="{{ "css/main.css" | relURL }}" type="text/css" media="all">
    <link rel="stylesheet" id="dslc-modules-css-css" href="{{ "css/modules.css" | relURL }}" type="text/css" media="all">
    <link rel="stylesheet" id="dslc-plugins-css-css" href="{{ "css/plugins.css" | relURL }}" type="text/css" media="all">
    <!--[if IE]>
    <link rel="stylesheet" id="dslc-css-ie-css" href="" {{ "css/ie.css" | relURL }}" type="text/css" media="all" />
    <![endif]-->
    <link rel="stylesheet" id="bodhi-svgs-attachment-css" href="{{ "css/svgs-attachment.css" | relURL }}" type="text/css" media="all">
    <link rel="stylesheet" id="lct-base-style-css" href="{{ "css/style.css" | relURL }}" type="text/css" media="all">
    <link rel="stylesheet" id="webfont-ss-social-css" href="{{ "webfonts/ss-social.css" | relURL }}" type="text/css" media="all">
    <link rel="stylesheet" id="webfont-ss-pika-css" href="{{ "webfonts/ss-pika.css" | relURL }}" type="text/css" media="all">
    <link rel="stylesheet" id="google-fonts-source-sans-pro-css" href="{{ "css/css.css" | relURL }}" type="text/css"
          media="all">
    <script type="text/javascript" src="{{ "js/jquery_002.js" | relURL }}"></script>
    <script type="text/javascript" src="{{ "js/jquery-migrate.js" | relURL }}"></script>
    <script type="text/javascript">
		var mejsL10n = {
			"language": "en", "strings": {
				"mejs.install-flash": "You are using a browser that does not have Flash player enabled or installed. Please turn on your Flash player plugin or download the latest version from https:\/\/get.adobe.com\/flashplayer\/",
				"mejs.fullscreen-off": "Turn off Fullscreen",
				"mejs.fullscreen-on": "Go Fullscreen",
				"mejs.download-video": "Download Video",
				"mejs.fullscreen": "Fullscreen",
				"mejs.time-jump-forward": ["Jump forward 1 second", "Jump forward %1 seconds"],
				"mejs.loop": "Toggle Loop",
				"mejs.play": "Play",
				"mejs.pause": "Pause",
				"mejs.close": "Close",
				"mejs.time-slider": "Time Slider",
				"mejs.time-help-text": "Use Left\/Right Arrow keys to advance one second, Up\/Down arrows to advance ten seconds.",
				"mejs.time-skip-back": ["Skip back 1 second", "Skip back %1 seconds"],
				"mejs.captions-subtitles": "Captions\/Subtitles",
				"mejs.captions-chapters": "Chapters",
				"mejs.none": "None",
				"mejs.mute-toggle": "Mute Toggle",
				"mejs.volume-help-text": "Use Up\/Down Arrow keys to increase or decrease volume.",
				"mejs.unmute": "Unmute",
				"mejs.mute": "Mute",
				"mejs.volume-slider": "Volume Slider",
				"mejs.video-player": "Video Player",
				"mejs.audio-player": "Audio Player",
				"mejs.ad-skip": "Skip ad",
				"mejs.ad-skip-info": ["Skip in 1 second", "Skip in %1 seconds"],
				"mejs.source-chooser": "Source Chooser",
				"mejs.stop": "Stop",
				"mejs.speed-rate": "Speed Rate",
				"mejs.live-broadcast": "Live Broadcast",
				"mejs.afrikaans": "Afrikaans",
				"mejs.albanian": "Albanian",
				"mejs.arabic": "Arabic",
				"mejs.belarusian": "Belarusian",
				"mejs.bulgarian": "Bulgarian",
				"mejs.catalan": "Catalan",
				"mejs.chinese": "Chinese",
				"mejs.chinese-simplified": "Chinese (Simplified)",
				"mejs.chinese-traditional": "Chinese (Traditional)",
				"mejs.croatian": "Croatian",
				"mejs.czech": "Czech",
				"mejs.danish": "Danish",
				"mejs.dutch": "Dutch",
				"mejs.english": "English",
				"mejs.estonian": "Estonian",
				"mejs.filipino": "Filipino",
				"mejs.finnish": "Finnish",
				"mejs.french": "French",
				"mejs.galician": "Galician",
				"mejs.german": "German",
				"mejs.greek": "Greek",
				"mejs.haitian-creole": "Haitian Creole",
				"mejs.hebrew": "Hebrew",
				"mejs.hindi": "Hindi",
				"mejs.hungarian": "Hungarian",
				"mejs.icelandic": "Icelandic",
				"mejs.indonesian": "Indonesian",
				"mejs.irish": "Irish",
				"mejs.italian": "Italian",
				"mejs.japanese": "Japanese",
				"mejs.korean": "Korean",
				"mejs.latvian": "Latvian",
				"mejs.lithuanian": "Lithuanian",
				"mejs.macedonian": "Macedonian",
				"mejs.malay": "Malay",
				"mejs.maltese": "Maltese",
				"mejs.norwegian": "Norwegian",
				"mejs.persian": "Persian",
				"mejs.polish": "Polish",
				"mejs.portuguese": "Portuguese",
				"mejs.romanian": "Romanian",
				"mejs.russian": "Russian",
				"mejs.serbian": "Serbian",
				"mejs.slovak": "Slovak",
				"mejs.slovenian": "Slovenian",
				"mejs.spanish": "Spanish",
				"mejs.swahili": "Swahili",
				"mejs.swedish": "Swedish",
				"mejs.tagalog": "Tagalog",
				"mejs.thai": "Thai",
				"mejs.turkish": "Turkish",
				"mejs.ukrainian": "Ukrainian",
				"mejs.vietnamese": "Vietnamese",
				"mejs.welsh": "Welsh",
				"mejs.yiddish": "Yiddish",
			},
		};
    </script>
    <script type="text/javascript" src="{{ "js/mediaelement-and-player.js" | relURL }}"></script>
    <script type="text/javascript" src="{{ "js/mediaelement-migrate.js" | relURL }}"></script>
    <script type="text/javascript">
		/* <![CDATA[ */
		var _wpmejsSettings = {
			"pluginPath": "\/wp-includes\/js\/mediaelement\/",
			"classPrefix": "mejs-",
			"stretching": "responsive",
		};
		/* ]]> */
    </script>
    <script type="text/javascript" src="{{ "js/plugins.js" | relURL }}"></script>
    <script type="text/javascript" src="{{ "js/script.js" | relURL }}"></script>

    <link rel="canonical" href="https://tooltoyou.com/">
    <link rel="shortlink" href="https://tooltoyou.com/">
    <style type="text/css">.dslc-modules-section-wrapper, .dslca-add-modules-section {
            width: 1180px;
        }

        .dslc-modules-section:not(.dslc-full) {
            padding-left: 4%;
            padding-right: 4%;
        }

        .dslc-modules-section {
            background-image: disabled;
            background-repeat: repeat;
            background-position: left top;
            background-attachment: scroll;
            background-size: auto;
            border-width: 0px;
            border-style: solid;
            margin-left: 0%;
            margin-right: 0%;
            margin-bottom: 0px;
            padding-bottom: 80px;
            padding-top: 80px;
            padding-left: 0%;
            padding-right: 0%;
        }

        /*  CSS FOR POST ID: 59 */
        #dslc-module-19 .dslc-navigation {
            text-align: center;
        }

        #dslc-module-19 .dslc-navigation-inner {
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: top left;
            background-size: auto;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            min-height: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
        }

        #dslc-module-19 .dslc-navigation .menu > li > a {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 300;
            font-family: "Open Sans";
            letter-spacing: 0px;
            line-height: 20px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-transform: none;
        }

        #dslc-module-19 .dslc-navigation .menu > li > a:hover {
            color: rgb(172, 172, 172);
        }

        #dslc-module-19 .dslc-navigation .menu > li.current-menu-item > a {
            color: rgb(172, 172, 172);
        }

        #dslc-module-19 .dslc-navigation .menu > li {
            margin-left: 28px;
            margin-top: 28px;
        }

        #dslc-module-19 .dslc-navigation-arrow {
            display: none;
            color: #555555;
            font-size: 10px;
            margin-left: 10px;
        }

        #dslc-module-19 .dslc-navigation .menu ul:before {
            text-align: left;
            background-color: #fff;
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: top left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-color: #ededed;
            border-width: 1px;
            border-style: solid solid solid solid;
        }

        #dslc-module-19 .dslc-navigation .menu ul {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 25px;
            padding-right: 25px;
        }

        #dslc-module-19 .dslc-navigation .menu ul li a {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            color: #555555;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 0px;
            line-height: 13px;
            padding-top: 17px;
            padding-bottom: 17px;
            padding-left: 0px;
            padding-right: 0px;
            text-transform: none;
            border-color: #ededed;
            border-width: 1px;
            border-style: none none solid none;
        }

        #dslc-module-19 .dslc-navigation .menu ul li > a:hover {
            border-color: #ededed;
        }

        #dslc-module-19 .dslc-navigation .menu ul li.current-menu-item > a {
            color: #fd4970;
            border-color: #ededed;
        }

        #dslc-module-19 .dslc-navigation .menu ul li a:hover {
            color: #fd4970;
        }

        #dslc-module-20 .dslc-text-module-content {
            min-height: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0px;
            padding-right: 0px;
            background-color: transparent;
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: top left;
            background-size: auto;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-20 .dslc-text-module-content, #dslc-module-20 .dslc-text-module-content .dslca-editable-content, #dslc-module-20 .dslc-text-module-content p {
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 0px;
            text-align: center;
        }

        #dslc-module-20 .dslc-text-module-content p {
            margin-bottom: 0px;
        }

        #dslc-module-20 .dslc-text-module-content h1 {
            font-size: 25px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 35px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-20 .dslc-text-module-content h2 {
            font-size: 23px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 33px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-20 .dslc-text-module-content h3 {
            font-size: 21px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 31px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-20 .dslc-text-module-content h4 {
            font-size: 19px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 29px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-20 .dslc-text-module-content h5 {
            font-size: 17px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 27px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-20 .dslc-text-module-content h6 {
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 25px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-20 .dslc-text-module-content li {
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 10px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }

        #dslc-module-20 .dslc-text-module-content ul, #dslc-module-20 .dslc-text-module-content ol {
            margin-bottom: 25px;
            margin-left: 25px;
        }

        #dslc-module-20 .dslc-text-module-content ul {
            list-style-type: disc;
        }

        #dslc-module-20 .dslc-text-module-content ol {
            list-style-type: decimal;
        }

        #dslc-module-20 input[type=text], #dslc-module-20 input[type=password], #dslc-module-20 input[type=number], #dslc-module-20 input[type=email], #dslc-module-20 input[type=tel], #dslc-module-20 textarea, #dslc-module-20 select {
            color: #4d4d4d;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: #fff;
            border-radius: 0px;
            border-color: #ddd;
            border-width: 1px;
            border-style: solid solid solid solid;
        }

        #dslc-module-20 input[type=text]::placeholder, #dslc-module-20 input[type=password]::placeholder, #dslc-module-20 input[type=number]::placeholder, #dslc-module-20 input[type=email]::placeholder, #dslc-module-20 input[type=tel]::placeholder, #dslc-module-20 textarea::placeholder, #dslc-module-20 select::placeholder {
            color: #4d4d4d;
        }

        #dslc-module-20 textarea {
            line-height: 23px;
        }

        #dslc-module-20 .dslc-text-module-content blockquote, #dslc-module-20 .dslc-text-module-content blockquote p {
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
        }

        #dslc-module-20 blockquote {
            margin-bottom: 0px;
            margin-left: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: top left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-20 blockquote, #dslc-module-20 .dslc-text-module-content blockquote p {
            text-align: left;
        }

        #dslc-module-20 input[type=submit], #dslc-module-20 button {
            background-color: #5890e5;
            border-radius: 3px;
            color: #fff;
            font-size: 13px;
            font-weight: 500;
            line-height: 13px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }

        #dslc-module-20 input[type=submit]:hover, #dslc-module-20 button:hover {
            background-color: #5890e5;
            color: #fff;
            border-color: #5890e5;
        }

        #dslc-module-21 ul.dslc-social {
            text-align: center;
            margin-bottom: 0px;
            margin-top: 0px;
            padding-left: 30px;
            padding-right: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
        }

        #dslc-module-21 ul.dslc-social a.dslc-social-icon {
            border-radius: 50px;
            width: 40px;
            height: 40px;
            font-size: 27px;
        }

        #dslc-module-21 ul.dslc-social a.dslc-social-icon:hover {
            border-color: rgba(0, 0, 0, 0);
        }

        #dslc-module-21 ul.dslc-social a.dslc-social-icon {
            background-color: rgb(255, 255, 255);
        }

        #dslc-module-21 ul.dslc-social a.dslc-social-icon:hover {
            background-color: rgb(255, 255, 255);
        }

        #dslc-module-21 .ul.dslc-social {
            min-height: 0px;
        }

        #dslc-module-21 ul.dslc-social li {
            margin-right: 40px;
        }

        #dslc-module-21 ul.dslc-social .dslc-icon {
            color: rgb(16, 16, 16);
        }

        #dslc-module-21 ul.dslc-social a.dslc-social-icon:hover .dslc-icon {
            color: rgb(16, 16, 16);
        }

        #dslc-module-21 .dslc-social-label {
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 30px;
            margin-left: 7px;
            text-transform: none;
        }

        @media only screen and ( max-width: 767px ) {
            #dslc-module-21 ul.dslc-social {
                margin-bottom: 5px;
            }

            #dslc-module-21 ul.dslc-social a.dslc-social-icon {
                width: 40px;
                height: 40px;
                font-size: 30px;
            }

            #dslc-module-21 ul.dslc-social li {
                margin-right: 30px;
            }
        }

        #dslc-module-22 .dslc-navigation {
            text-align: center;
        }

        #dslc-module-22 .dslc-navigation-inner {
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: top left;
            background-size: auto;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            margin-top: 0px;
            margin-bottom: 0px;
            min-height: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 0px;
            padding-right: 0px;
        }

        #dslc-module-22 .dslc-navigation .menu > li > a {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-weight: 300;
            font-family: "Open Sans";
            letter-spacing: 0px;
            line-height: 22px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-transform: none;
        }

        #dslc-module-22 .dslc-navigation .menu > li > a:hover {
            color: rgb(172, 172, 172);
        }

        #dslc-module-22 .dslc-navigation .menu > li.current-menu-item > a {
            color: rgb(172, 172, 172);
        }

        #dslc-module-22 .dslc-navigation .menu > li {
            margin-left: 28px;
            margin-top: 28px;
        }

        #dslc-module-22 .dslc-navigation-arrow {
            display: none;
            color: #555555;
            font-size: 10px;
            margin-left: 10px;
        }

        #dslc-module-22 .dslc-navigation .menu ul:before {
            text-align: left;
            background-color: #fff;
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: top left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            border-color: #ededed;
            border-width: 1px;
            border-style: solid solid solid solid;
        }

        #dslc-module-22 .dslc-navigation .menu ul {
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 25px;
            padding-right: 25px;
        }

        #dslc-module-22 .dslc-navigation .menu ul li a {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            color: #555555;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 0px;
            line-height: 13px;
            padding-top: 17px;
            padding-bottom: 17px;
            padding-left: 0px;
            padding-right: 0px;
            text-transform: none;
            border-color: #ededed;
            border-width: 1px;
            border-style: none none solid none;
        }

        #dslc-module-22 .dslc-navigation .menu ul li > a:hover {
            border-color: #ededed;
        }

        #dslc-module-22 .dslc-navigation .menu ul li.current-menu-item > a {
            color: #fd4970;
            border-color: #ededed;
        }

        #dslc-module-22 .dslc-navigation .menu ul li a:hover {
            color: #fd4970;
        }

        #dslc-module-30 .dslc-text-module-content {
            min-height: 0px;
            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            padding-top: 30px;
            padding-bottom: 30px;
            padding-left: 0px;
            padding-right: 0px;
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: top left;
            background-size: auto;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-30 .dslc-text-module-content, #dslc-module-30 .dslc-text-module-content .dslca-editable-content, #dslc-module-30 .dslc-text-module-content p {
            color: rgb(255, 255, 255);
            font-size: 13px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 22px;
            text-align: center;
        }

        #dslc-module-30 .dslc-text-module-content p {
            margin-bottom: 0px;
        }

        #dslc-module-30 .dslc-text-module-content h1 {
            font-size: 25px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 35px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-30 .dslc-text-module-content h2 {
            font-size: 23px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 33px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-30 .dslc-text-module-content h3 {
            font-size: 21px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 31px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-30 .dslc-text-module-content h4 {
            font-size: 19px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 29px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-30 .dslc-text-module-content h5 {
            font-size: 17px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 27px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-30 .dslc-text-module-content h6 {
            font-size: 15px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: 0px;
            line-height: 25px;
            margin-bottom: 15px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            text-align: left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-30 .dslc-text-module-content li {
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
            margin-bottom: 10px;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
        }

        #dslc-module-30 .dslc-text-module-content ul, #dslc-module-30 .dslc-text-module-content ol {
            margin-bottom: 25px;
            margin-left: 25px;
        }

        #dslc-module-30 .dslc-text-module-content ul {
            list-style-type: disc;
        }

        #dslc-module-30 .dslc-text-module-content ol {
            list-style-type: decimal;
        }

        #dslc-module-30 input[type=text], #dslc-module-30 input[type=password], #dslc-module-30 input[type=number], #dslc-module-30 input[type=email], #dslc-module-30 input[type=tel], #dslc-module-30 textarea, #dslc-module-30 select {
            color: #4d4d4d;
            font-size: 13px;
            font-weight: 500;
            margin-bottom: 15px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
            background-color: #fff;
            border-radius: 0px;
            border-color: #ddd;
            border-width: 1px;
            border-style: solid solid solid solid;
        }

        #dslc-module-30 input[type=text]::placeholder, #dslc-module-30 input[type=password]::placeholder, #dslc-module-30 input[type=number]::placeholder, #dslc-module-30 input[type=email]::placeholder, #dslc-module-30 input[type=tel]::placeholder, #dslc-module-30 textarea::placeholder, #dslc-module-30 select::placeholder {
            color: #4d4d4d;
        }

        #dslc-module-30 textarea {
            line-height: 23px;
        }

        #dslc-module-30 .dslc-text-module-content blockquote, #dslc-module-30 .dslc-text-module-content blockquote p {
            font-size: 13px;
            font-weight: 400;
            line-height: 22px;
        }

        #dslc-module-30 blockquote {
            margin-bottom: 0px;
            margin-left: 0px;
            padding-top: 0px;
            padding-bottom: 0px;
            padding-left: 0px;
            padding-right: 0px;
            background-repeat: repeat;
            background-attachment: scroll;
            background-position: top left;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

        #dslc-module-30 blockquote, #dslc-module-30 .dslc-text-module-content blockquote p {
            text-align: left;
        }

        #dslc-module-30 input[type=submit], #dslc-module-30 button {
            background-color: #5890e5;
            border-radius: 3px;
            color: #fff;
            font-size: 13px;
            font-weight: 500;
            line-height: 13px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 15px;
            padding-right: 15px;
        }

        #dslc-module-30 input[type=submit]:hover, #dslc-module-30 button:hover {
            background-color: #5890e5;
            color: #fff;
            border-color: #5890e5;
        } </style>
    <link href="{{ "css/css_002.css" | relURL }}" rel="stylesheet">
</head>
<body class="home page-template-default page page-id-59 dslc-page dslc-page-has-content dslc-res-big">

<div id="dslc-content" class="dslc-content dslc-clearfix">

    <div id="dslc-main">
        <div class="dslc-modules-section dslc-full dslc-no-columns-spacing " style="padding-bottom:0px;padding-top:0px;"
             data-section-id="9b32886bee6">

            <div class="dslc-modules-section-wrapper dslc-clearfix">
                <div class="dslc-modules-area dslc-col dslc-12-col dslc-last-col" data-size="12">
                    <div id="dslc-module-1"
                         class="dslc-module-front dslc-module-DSLC_Html dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-12-col dslc-last-col  dslc-module-handle-like-regular  dslc-in-viewport"
                         data-module-id="1" data-dslc-module-id="DSLC_Html" data-dslc-module-size="12"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="ease" data-dslc-preset="none"
                         style="animation: 0.65s ease 0s 1 normal none running forwards;">

                        <div class="dslc-html-module-content">
                            <header class="header">
                                <div class="header-wrapper">
                                    <div class="header-right header-padding visible-tablet">
                                        <a class="button-new-listing button-color" id="new-listing-link"
                                           href="https://marketplace.tooltoyou.com/en/listings/new">Post a
                                            new listing</a>
                                    </div>
                                    <div class="header-right visible-tablet">

                                        <div class="header-menu-container toggle" data-toggle-position="absolute"
                                             data-toggle="#header-menu-toggle-menu" id="header-menu-desktop-anchor">

                                            <div class="header-menu-toggle-container toggle-header-container"
                                                 id="header-menu-mobile-anchor">
                                                <i class="ss-rows header-menu-icon"></i>
                                                <span class="visible-tablet-inline">Menu</span>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="header-right">
                                        <a class="header-text-link header-hover" id="header-login-link"
                                           href="https://marketplace.tooltoyou.com/en/login">Log
                                            in
                                        </a></div>
                                    <div class="header-right">
                                        <a class="header-text-link header-hover"
                                           href="https://marketplace.tooltoyou.com/en/signup">Sign up
                                        </a></div>

                                    <div class="header-left hidden-tablet">
                                        <div class="header-menu-container toggle" data-toggle-position="absolute"
                                             data-toggle="#header-menu-toggle-menu">

                                            <div class="header-menu-toggle-container toggle-header-container"
                                                 id="header-menu-mobile-anchor">
                                                <i class="ss-rows header-menu-icon"></i>
                                            </div>

                                            <span></span>
                                        </div>
                                    </div>

                                    <div class="toggle-menu header-toggle-menu-menu hidden"
                                         id="header-menu-toggle-menu">
                                        <a href="https://marketplace.tooltoyou.com/">
                                            <i class="ss-home icon-with-text"></i>
                                            Home
                                        </a>
                                        <a class="hidden-tablet"
                                           href="https://marketplace.tooltoyou.com/en/listings/new">
                                            <i class="ss-addfile icon-with-text"></i>
                                            Post a new listing
                                        </a>
                                        <a href="https://marketplace.tooltoyou.com/en/infos/about"><i
                                                    class="ss-info icon-with-text"></i>
                                            About
                                        </a>
                                        <a href="https://marketplace.tooltoyou.com/en/user_feedbacks/new"><i
                                                    class="ss-megaphone icon-with-text"></i>
                                            Contact us
                                        </a>
                                        <a target="_blank"
                                           href="https://marketplace.tooltoyou.com/en/infos/how_to_use"><i
                                                    class="ss-redirect icon-with-text"></i>
                                            How It Works
                                        </a>
                                        <a target="_blank"
                                           href="{{ "pdf/equipment-rental-agreement.pdf" | relURL }}"><i
                                                    class="ss-redirect icon-with-text"></i>
                                            Rental Agreement
                                        </a>
                                        <a target="_blank" href="https://blog.tooltoyou.com/"><i
                                                    class="ss-redirect icon-with-text"></i>
                                            Blog
                                        </a>
                                        <div class="hidden-desktop">
                                        </div>
                                    </div>

                                    <div class="header-left header-logo-container">
                                        <a class="header-logo" id="header-logo" href="https://tooltoyou.com/">
                                            <i class="header-square-logo hidden-tablet"></i>
                                            <i class="header-wide-logo visible-tablet"></i>
                                        </a>
                                    </div>
                                </div>
                            </header>

                        </div>
                    </div><!-- .dslc-module -->
                </div>
            </div>
        </div>
        <div class="dslc-modules-section dslc-full dslc-no-columns-spacing "
             style="background-image:url({{ "images/working-1.jpg" | relURL }});background-repeat:no-repeat;background-position:center center;background-size:cover;margin-bottom:60px;padding-bottom:0px;padding-top:0px;"
             data-section-id="57f94c1a319">

            <div class="dslc-bg-video dslc-force-show" style="opacity: 1;">
                <div class="dslc-bg-video-overlay" style="background-color:#000000; opacity:0.4; "></div>
            </div>

            <div class="dslc-modules-section-wrapper dslc-clearfix">
                <div class="dslc-modules-area dslc-col dslc-12-col dslc-last-col" data-size="12">
                    <div id="dslc-module-2"
                         class="dslc-module-front dslc-module-DSLC_Html dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-12-col dslc-last-col  dslc-module-handle-like-regular  dslc-in-viewport"
                         data-module-id="2" data-dslc-module-id="DSLC_Html" data-dslc-module-size="12"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="ease" data-dslc-preset="none"
                         style="animation: 0.65s ease 0s 1 normal none running forwards;">

                        <div class="dslc-html-module-content">
                            <div class="sharetribe-search-container tooltoyou-container">
                                <div class="layout-centered-content">

                                    <h1>Own the Project</h1>
                                    <h2>Rent or List Any Tool Locally</h2>

                                    <form class="clearfix" action="https://marketplace.tooltoyou.com/en" method="GET">
                                        <div class="input-container">

                                            <input type="text" name="q"
                                                   placeholder="What tools do you need for your project?">
                                            <div class="dropdown" onclick="void(0)">
                                                <span class="current-value">All Cities</span>
                                                <span class="dd-icon">v</span>
                                                <ul>
                                                    <li><a href="#" data-value="all">All Cities</a></li>
                                                    <li><a href="#" data-value="orange-county">Orange County</a></li>
                                                    <li><a href="#" data-value="los-angeles">Los Angeles</a></li>
                                                    <li><a href="#" data-value="everywhere-else">Everywhere Else</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                        <input type="submit" class="right button-search button-color"
                                               value="Find Tools">
                                        <input type="hidden" name="category" value="all">
                                        <input type="hidden" name="view" value="grid">
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div><!-- .dslc-module -->
                </div>
            </div>
        </div>
        <div class="dslc-modules-section dslc-full dslc-no-columns-spacing " style="padding-bottom:0px;padding-top:0px;"
             data-section-id="1c4faaf33ec">

            <div class="dslc-modules-section-wrapper dslc-clearfix">
                <div class="dslc-modules-area dslc-col dslc-12-col dslc-last-col" data-size="12">
                    <div id="dslc-module-28"
                         class="dslc-module-front dslc-module-DSLC_Html dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-12-col dslc-last-col  dslc-module-handle-like-regular  dslc-in-viewport"
                         data-module-id="28" data-dslc-module-id="DSLC_Html" data-dslc-module-size="12"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="ease" data-dslc-preset="none"
                         style="animation: 0.65s ease 0s 1 normal none running forwards;">

                        <div class="dslc-html-module-content">
                            <div class="section-container full-width">
                                <div class="text-container explore-cities">
                                    <h2>Explore Cities</h2>
                                    <h3>Find your tools</h3>
                                    <div class="flex-container flex-center">

                                        <div class="content-box full-height full-width orange-county">
                                            <a class="link"
                                               href="https://marketplace.tooltoyou.com/en?category=orange-county">
                                                <p class="full-width full-height flex-center">Orange County</p>
                                            </a>
                                        </div>
                                        <div class="content-box flex-center los-angeles">
                                            <a class="link"
                                               href="https://marketplace.tooltoyou.com/en?category=los-angeles">
                                                <p class="full-width full-height flex-center">Los Angeles</p>
                                            </a>
                                        </div>
                                        <div class="content-box everywhere-else">
                                            <a class="link"
                                               href="https://marketplace.tooltoyou.com/en?category=everywhere-else">
                                                <p class="full-width full-height flex-center">Everywhere Else</p>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div><!-- .dslc-module -->
                </div>
            </div>
        </div>
        <div class="dslc-modules-section dslc-full dslc-no-columns-spacing "
             style="background-color:rgb(245, 245, 245);margin-bottom:40px;padding-bottom:40px;padding-top:40px;"
             data-section-id="59f421bb465">

            <div class="dslc-modules-section-wrapper dslc-clearfix">
                <div class="dslc-modules-area dslc-col dslc-12-col dslc-last-col" data-size="12">
                    <div id="dslc-module-10"
                         class="dslc-module-front dslc-module-DSLC_Html dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-12-col dslc-last-col  dslc-module-handle-like-regular "
                         data-module-id="10" data-dslc-module-id="DSLC_Html" data-dslc-module-size="12"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="ease" data-dslc-preset="none">

                        <div class="dslc-html-module-content">
                            <section class="section-container full-width">
                                <div class="text-container content-container how-it-works-video center">
                                    <h2>Make or save money.</h2>
                                    <h3>See how it works!</h3>
                                    <div class="flex-container flex-center">

                                        <div class="youtube-video">
                                            <iframe class="float-left" src="https://www.youtube.com/embed/DYAB5DdcRzA"
                                                    allowfullscreen="" frameborder="0"></iframe>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div><!-- .dslc-module -->
                </div>
            </div>
        </div>
        <div class="dslc-modules-section dslc-full dslc-no-columns-spacing " style="padding-bottom:0px;padding-top:0px;"
             data-section-id="8472d57546f">


            <div class="dslc-modules-section-wrapper dslc-clearfix">
                <div class="dslc-modules-area dslc-col dslc-12-col dslc-last-col" data-size="12">
                    <div id="dslc-module-11"
                         class="dslc-module-front dslc-module-DSLC_Html dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-12-col dslc-last-col  dslc-module-handle-like-regular "
                         data-module-id="11" data-dslc-module-id="DSLC_Html" data-dslc-module-size="12"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="ease" data-dslc-preset="none">


                        <div class="dslc-html-module-content">
                            <div class="section-container-old full-width">
                                <div class="covered-container tooltoyou-container">
                                    <h2 class="covered-header">Am I covered?</h2>
                                    <a class=""
                                       href="https://marketplace.tooltoyou.com/en/infos/how_to_use#we-protect-you">
                                        <div class="covered-box covered-box-position-left">
                                            <div class="covered-lock-icon"></div>
                                            <div class="covered-text-container">
                                                <h2>WE PROTECT YOU &amp;<br> YOUR VALUABLES</h2>
                                                <p>
                                                    We have <b>you</b> and <b>your equipment</b> covered.
                                                    Click here to learn more.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="clearfix show-mobile"></div>
                                    <a class=""
                                       href="https://marketplace.tooltoyou.com/en/infos/how_to_use#safe-payment">
                                        <div class="covered-box covered-box-position-right">
                                            <div class="covered-paypal-icon"></div>
                                            <div class="covered-text-container">
                                                <h2>SAFE PAYMENT</h2>
                                                <p>
                                                    Our partnership, with PayPal, makes sure all payments are secure.
                                                    Click here to learn more.
                                                </p>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .dslc-module -->
                </div>
            </div>
        </div>
        <div class="dslc-modules-section dslc-full dslc-no-columns-spacing " style="padding-bottom:0px;padding-top:0px;"
             data-section-id="b43306b8b81">


            <div class="dslc-modules-section-wrapper dslc-clearfix">
                <div class="dslc-modules-area dslc-col dslc-12-col dslc-last-col" data-size="12">
                    <div id="dslc-module-25"
                         class="dslc-module-front dslc-module-DSLC_Html dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-12-col dslc-last-col  dslc-module-handle-like-regular "
                         data-module-id="25" data-dslc-module-id="DSLC_Html" data-dslc-module-size="12"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="ease" data-dslc-preset="none">


                        <div class="dslc-html-module-content">
                            <div class="section-container full-width grey-background">
                                <div class="content-container text-container learn-more-about">
                                    <h2 class="">Learn More About...</h2>
                                    <div class="flex-container">
                                        <div class="content-box white-background">
                                            <a class="link"
                                               href="https://marketplace.tooltoyou.com/en/infos/how_to_use#listing">
                                                <p class="full-width full-height flex-center">Listing Tools &nbsp; <span
                                                            class="arrow">&gt;</span></p>
                                            </a>
                                        </div>
                                        <div class="clearfix show-mobile"></div>
                                        <div class="content-box white-background">
                                            <a class="link"
                                               href="https://marketplace.tooltoyou.com/en/infos/how_to_use#renting">
                                                <p class="full-width full-height flex-center">Renting Tools &nbsp; <span
                                                            class="arrow">&gt;</span></p>
                                            </a>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- .dslc-module -->
                </div>
            </div>
        </div>
        <div class="dslc-modules-section dslc-no-columns-spacing "
             style="margin-bottom:60px;padding-bottom:0px;padding-top:0px;" data-section-id="b2c61a09218">
            <div class="dslc-modules-section-wrapper dslc-clearfix">
                <div class="dslc-modules-area dslc-col dslc-12-col dslc-last-col" data-size="12">
                    <div id="dslc-module-24"
                         class="dslc-module-front dslc-module-DSLC_Html dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-12-col dslc-last-col  dslc-module-handle-like-regular "
                         data-module-id="24" data-dslc-module-id="DSLC_Html" data-dslc-module-size="12"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="ease" data-dslc-preset="none">
                        <div class="dslc-html-module-content">
                            <section class="section-container full-width">
                                <div class="text-container diy-video">
                                    <h2>DIY Project Ideas</h2>
                                    <div class="flex-container flex-center">


                                        <div class="youtube-video">
                                            <iframe class="float-left" src="https://www.youtube.com/embed/aHd5_xcrfFg"
                                                    allowfullscreen="" frameborder="0"></iframe>
                                        </div>
                                        <div class="youtube-video">
                                            <iframe class="float-left" src="https://www.youtube.com/embed/t83os_7yo28"
                                                    allowfullscreen="" frameborder="0"></iframe>
                                        </div>
                                        <div class="youtube-video">
                                            <iframe class="float-left" src="https://www.youtube.com/embed/6Xjox43DpcE"
                                                    allowfullscreen="" frameborder="0"></iframe>
                                        </div>

                                    </div>
                                </div>
                            </section>
                        </div>
                    </div><!-- .dslc-module -->
                </div>
            </div>
        </div>

        <div class="dslc-modules-section dslc-full dslc-no-columns-spacing footer-container "
             style="background-image:url({{ "images/tooltoyou-logo-icon-without_shadow-100x100.png" | relURL }});padding-bottom:60px;padding-top:60px;"
             data-section-id="627dcb883ba">

            <div class="dslc-bg-video dslc-force-show" style="opacity: 1;">
                <div class="dslc-bg-video-overlay" style="background-color:rgb(16, 16, 16); opacity:0.9; "></div>
            </div>

            <div class="dslc-modules-section-wrapper dslc-clearfix">
                <div class="dslc-modules-area dslc-col dslc-12-col dslc-last-col" data-size="12">
                    <div id="dslc-module-19"
                         class="dslc-module-front dslc-module-DSLC_Navigation dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-6-col dslc-hide-on-phone  dslc-module-handle-like-regular "
                         data-module-id="19" data-dslc-module-id="DSLC_Navigation" data-dslc-module-size="6"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="default" data-dslc-preset="none">


                        <div class="dslc-navigation dslc-navigation-sub-position-default dslc-navigation-res-t-disabled dslc-navigation-res-p-disabled dslc-navigation-orientation-horizontal">
                            <div class="dslc-navigation-inner">
                                <div class="menu-bottom-navigation-container">
                                    <ul id="menu-bottom-navigation" class="menu">
                                        <li id="menu-item-64"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
                                            <a href="https://marketplace.tooltoyou.com/en/infos/about">About</a></li>
                                        <li id="menu-item-65"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
                                            <a href="https://marketplace.tooltoyou.com/en/user_feedbacks/new">Contact
                                                Us</a></li>
                                        <li id="menu-item-66"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
                                            <a href="http://blog.tooltoyou.com/">Blog</a></li>
                                        <li id="menu-item-74"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74">
                                            <a href="https://marketplace.tooltoyou.com/en/infos/privacy">Privacy
                                                Policy</a></li>
                                        <li id="menu-item-75"
                                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75">
                                            <a href="https://marketplace.tooltoyou.com/en/infos/terms">Terms of Use</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dslc-mobile-navigation dslc-navigation-res-t-disabled  dslc-navigation-res-p-disabled">
                            <select>
                                <option selected="selected">- Select -</option>
                                <option value="https://marketplace.tooltoyou.com/en/infos/about">About</option>
                                <option value="https://marketplace.tooltoyou.com/en/user_feedbacks/new">Contact Us
                                </option>
                                <option value="http://blog.tooltoyou.com">Blog</option>
                                <option value="https://marketplace.tooltoyou.com/en/infos/privacy">Privacy Policy
                                </option>
                                <option value="https://marketplace.tooltoyou.com/en/infos/terms">Terms of Use</option>
                            </select>
                            <div class="dslc-mobile-navigation-hook"><span class="dslc-icon dslc-icon-reorder"></span>
                            </div>
                        </div><!-- .dslc-mobile-navigation -->


                        <script type="text/javascript">
							var menuItems = document.querySelectorAll('.dslc-navigation .menu > li.menu-item-has-children:not(.menu-with-arrow) > a');

							for (var i = 0, len = menuItems.length; i < len; i++) {
								menuItems[i].insertAdjacentHTML('afterend', '<span class="dslc-navigation-arrow dslc-icon dslc-icon-chevron-down"></span>');
								menuItems[i].parentElement.className += " menu-with-arrow";
							}
                        </script>

                    </div><!-- .dslc-module -->

                    <div id="dslc-module-20"
                         class="dslc-module-front dslc-module-DSLC_Text_Simple dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-1-col  dslc-module-handle-like-regular "
                         data-module-id="20" data-dslc-module-id="DSLC_Text_Simple" data-dslc-module-size="1"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="ease" data-dslc-preset="none">


                        <div class="dslc-text-module-content"><p>&nbsp;</p></div>
                    </div><!-- .dslc-module -->

                    <div id="dslc-module-21"
                         class="dslc-module-front dslc-module-DSLC_Social dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-5-col dslc-last-col  dslc-module-handle-like-regular "
                         data-module-id="21" data-dslc-module-id="DSLC_Social" data-dslc-module-size="5"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="ease" data-dslc-preset="none">


                        <div class="dslc-social-wrap">

                            <ul class="dslc-social">
                                <li>
                                    <a class="dslc-social-icon" target="_blank"
                                       href="https://twitter.com/ToolToYou"><span
                                                class="dslc-icon dslc-icon-twitter"></span></a>
                                </li>
                                <li>
                                    <a class="dslc-social-icon" target="_blank"
                                       href="https://www.facebook.com/tooltoyou/"><span
                                                class="dslc-icon dslc-icon-facebook"></span></a>
                                </li>
                                <li>
                                    <a class="dslc-social-icon" target="_blank" href="#"><span
                                                class="dslc-icon dslc-icon-youtube-play"></span></a>
                                </li>
                                <li>
                                    <a class="dslc-social-icon" target="_blank"
                                       href="https://www.pinterest.com/tooltoyou/"><span
                                                class="dslc-icon dslc-icon-pinterest"></span></a>
                                </li>
                                <li>
                                    <a class="dslc-social-icon" target="_blank"
                                       href="https://www.linkedin.com/company/tooltoyou?trk=ppro_cprof"><span
                                                class="dslc-icon dslc-icon-linkedin"></span></a>
                                </li>
                                <li>
                                    <a class="dslc-social-icon" target="_blank"
                                       href="https://www.instagram.com/tooltoyou/"><span
                                                class="dslc-icon dslc-icon-instagram"></span></a>
                                </li>
                            </ul>

                        </div><!-- .dslc-social-wrap -->


                    </div><!-- .dslc-module -->

                    <div id="dslc-module-22"
                         class="dslc-module-front dslc-module-DSLC_Navigation dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-6-col dslc-hide-on-desktop dslc-hide-on-tablet  dslc-module-handle-like-regular "
                         data-module-id="22" data-dslc-module-id="DSLC_Navigation" data-dslc-module-size="6"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="default" data-dslc-preset="none" style="">


                        <div class="dslc-navigation dslc-navigation-sub-position-default dslc-navigation-res-t-disabled dslc-navigation-res-p-disabled dslc-navigation-orientation-horizontal">
                            <div class="dslc-navigation-inner">
                                <div class="menu-bottom-navigation-container">
                                    <ul id="menu-bottom-navigation-1" class="menu">
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-64">
                                            <a href="https://marketplace.tooltoyou.com/en/infos/about">About</a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-65">
                                            <a href="https://marketplace.tooltoyou.com/en/user_feedbacks/new">Contact
                                                Us</a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-66">
                                            <a href="http://blog.tooltoyou.com/">Blog</a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74">
                                            <a href="https://marketplace.tooltoyou.com/en/infos/privacy">Privacy
                                                Policy</a></li>
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75">
                                            <a href="https://marketplace.tooltoyou.com/en/infos/terms">Terms of Use</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="dslc-mobile-navigation dslc-navigation-res-t-disabled  dslc-navigation-res-p-disabled">
                            <select>
                                <option selected="selected">- Select -</option>
                                <option value="https://marketplace.tooltoyou.com/en/infos/about">About</option>
                                <option value="https://marketplace.tooltoyou.com/en/user_feedbacks/new">Contact Us
                                </option>
                                <option value="http://blog.tooltoyou.com">Blog</option>
                                <option value="https://marketplace.tooltoyou.com/en/infos/privacy">Privacy Policy
                                </option>
                                <option value="https://marketplace.tooltoyou.com/en/infos/terms">Terms of Use</option>
                            </select>
                            <div class="dslc-mobile-navigation-hook"><span class="dslc-icon dslc-icon-reorder"></span>
                            </div>
                        </div><!-- .dslc-mobile-navigation -->


                        <script type="text/javascript">
							var menuItems = document.querySelectorAll('.dslc-navigation .menu > li.menu-item-has-children:not(.menu-with-arrow) > a');

							for (var i = 0, len = menuItems.length; i < len; i++) {
								menuItems[i].insertAdjacentHTML('afterend', '<span class="dslc-navigation-arrow dslc-icon dslc-icon-chevron-down"></span>');
								menuItems[i].parentElement.className += " menu-with-arrow";
							}
                        </script>

                    </div><!-- .dslc-module -->

                    <div id="dslc-module-30"
                         class="dslc-module-front dslc-module-DSLC_Text_Simple dslc-in-viewport-check dslc-in-viewport-anim-none  dslc-col dslc-12-col  dslc-module-handle-like-regular "
                         data-module-id="30" data-dslc-module-id="DSLC_Text_Simple" data-dslc-module-size="12"
                         data-dslc-anim="none" data-dslc-anim-delay="0" data-dslc-anim-duration="650"
                         data-dslc-anim-easing="ease" data-dslc-preset="none">


                        <div class="dslc-text-module-content">&copy;2019 ToolToYou.com<br>
                            A Daska Holdings, LLC. company
                        </div>
                    </div><!-- .dslc-module -->
                </div>
            </div>
        </div>
    </div>


</div>
<script async="">(function (s, u, m, o, j, v) {
		j = u.createElement(m);
		v = u.getElementsByTagName(m)[0];
		j.async = 1;
		j.src = o;
		j.dataset.sumoSiteId = '0a61e00095903000775d500073bac400c6ccd3001c36a00084269f005ab75e00';
		j.dataset.sumoPlatform = 'wordpress';
		v.parentNode.insertBefore(j, v)
	})(window, document, 'script', '//load.sumo.com/');</script>

<script type="text/javascript" src="{{ "js/wp-mediaelement.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "js/imagesloaded.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "js/masonry.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "js/jquery.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "js/main.js" | relURL }}"></script>
<script type="text/javascript" src="{{ "js/wp-embed.js" | relURL }}"></script>

</body>
</html>
