<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

	<link href="{{ "/css/style.css" | relURL }}" rel="stylesheet">

</head>
<body>

<!-- ======================================== Header ======================================== -->

<header class="header">
	<div class="header-wrapper">
		<div class="header-right header-padding visible-tablet">
			<a class="button-new-listing button-color" id="new-listing-link"
			   href="https://marketplace.tooltoyou.com/en/listings/new">Post a
				new listing</a>
		</div>
		<div class="header-right visible-tablet">

			<div class="header-menu-container toggle" data-toggle-position="absolute"
				 data-toggle="#header-menu-toggle-menu" id="header-menu-desktop-anchor">

				<div class="header-menu-toggle-container toggle-header-container" id="header-menu-mobile-anchor">
					<i class="ss-rows header-menu-icon"></i>
					<span class="visible-tablet-inline">Menu</span>
				</div>

			</div>
		</div>

		<div class="header-right">
			<a class="header-text-link header-hover" id="header-login-link" href="https://marketplace.tooltoyou.com/en/login">Log
				in
			</a></div>
		<div class="header-right">
			<a class="header-text-link header-hover" href="https://marketplace.tooltoyou.com/en/signup">Sign up
			</a></div>

		<div class="header-left hidden-tablet">
			<div class="header-menu-container toggle" data-toggle-position="absolute"
				 data-toggle="#header-menu-toggle-menu">

				<div class="header-menu-toggle-container toggle-header-container" id="header-menu-mobile-anchor">
					<i class="ss-rows header-menu-icon"></i>
				</div>

				<span></span>
			</div>
		</div>

		<div class="toggle-menu header-toggle-menu-menu hidden" id="header-menu-toggle-menu">
			<a href="https://marketplace.tooltoyou.com/">
				<i class="ss-home icon-with-text"></i>
				Home
			</a>
			<a class="hidden-tablet" href="https://marketplace.tooltoyou.com/en/listings/new">
				<i class="ss-addfile icon-with-text"></i>
				Post a new listing
			</a>
			<a href="https://marketplace.tooltoyou.com/en/infos/about"><i class="ss-info icon-with-text"></i>
				About
			</a>
			<a href="https://marketplace.tooltoyou.com/en/user_feedbacks/new"><i class="ss-megaphone icon-with-text"></i>
				Contact us
			</a>
			<a target="_blank" href="https://marketplace.tooltoyou.com/editor/en/infos/how_to_use"><i
						class="ss-redirect icon-with-text"></i>
				How It Works
			</a>
			<a target="_blank" href="https://tooltoyou.com/content/uploads/sites/8/2016/08/EQUIPMENT-RENTAL-AGREEMENT.pdf"><i
						class="ss-redirect icon-with-text"></i>
				Rental Agreement
			</a>
			<a target="_blank" href="http://blog.tooltoyou.com/"><i class="ss-redirect icon-with-text"></i>
				Blog
			</a>
			<div class="hidden-desktop">
			</div>
		</div>

		<div class="header-left header-logo-container">
			<a class="header-logo" id="header-logo" href="/">
				<i class="header-square-logo hidden-tablet"></i>
				<i class="header-wide-logo visible-tablet"></i>
			</a>
		</div>
	</div>
</header>

<!-- ======================================== Search box ======================================== -->

<div class="sharetribe-search-container tooltoyou-container">
	<div class="layout-centered-content">

		<h1>Own the Project</h1>
		<h2>Rent or List Any Tool Locally</h2>

		<form class="clearfix" action="https://marketplace.tooltoyou.com/en" method="GET">
			<div class="input-container">

				<input type="text" name="q" placeholder="What tools do you need for your project?"/>
				<div class="dropdown" onclick="void(0)">
					<span class="current-value">All Cities</span>
					<span class="dd-icon">v</span>
					<ul>
						<li><a href="#" data-value="all">All Cities</a></li>
						<li><a href="#" data-value="orange-county">Orange County</a></li>
						<li><a href="#" data-value="los-angeles">Los Angeles</a></li>
						<li><a href="#" data-value="everywhere-else">Everywhere Else</a></li>
					</ul>
				</div>

			</div>
			<input type="submit" class="right button-search button-color" value="Find Tools"/>
			<input type="hidden" name="category" value="all"/>
			<input type="hidden" name="view" value="grid"/>
		</form>

	</div>
</div>

<!-- ======================================== How it works ======================================== -->

<div class="how-it-works-video tooltoyou-container">
	<h2>Make or save money.</h2>
	<h3>See how it works!</h3>
	<div class="show-desktop">
		<iframe width="800" height="450" src="https://www.youtube.com/embed/DYAB5DdcRzA?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="show-tablet">
		<iframe width="600" height="338" src="https://www.youtube.com/embed/DYAB5DdcRzA?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="show-mobile">
		<iframe width="300" height="169" src="https://www.youtube.com/embed/DYAB5DdcRzA?rel=0" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class="clearfix"></div>
</div>

<!-- ======================================== DIY Videos ======================================== -->

<div class="covered-container tooltoyou-container">
	<h2 class="covered-header">Am I covered?</h2>
	<a class="" href="#">
		<div class="covered-box covered-box-position-left">
			<div class="covered-lock-icon"></div>
			<div class="covered-text-container">
				<h2>WE PROTECT YOU &amp;<br/> YOUR VALUABLES</h2>
				<p>
					We have <b>you</b> and <b>your equipment</b> covered.
					Click here to learn more.
				</p>
			</div>
		</div>
	</a>
	<div class="clearfix show-mobile"></div>
	<a class="" href="#">
		<div class="covered-box covered-box-position-right">
			<div class="covered-paypal-icon"></div>
			<div class="covered-text-container">
				<h2>SAFE PAYMENT</h2>
				<p>
					Our partnership, with PayPal, makes sure all payments are secure.
					Click here to learn more.
				</p>
			</div>
		</div>
	</a>
	<div class="clearfix"></div>
</div>

</body>
</html>
