@charset "UTF-8";


.sharetribe-search-container .layout-centered-content {
	width: 940px;
	margin: 0px auto;
}

@media only screen and (max-width: 768px) {
	.sharetribe-search-container .layout-centered-content {
		width: auto;
	}

}

@media only screen and (max-width: 480px) {
	.sharetribe-search-container .layout-centered-content {
		padding-right: 10px;
		padding-left: 10px;
	}

}


.sharetribe-search-container .button-search {
	line-height: 60px;
	padding: 0px 30px;
	display: inline-block;
	border: 0px;
	border-radius: 3px;
	position: relative;
}

/** Button colors */
.button-color {
	background-color: #3f86ff;
	color: #ffffff;
}
.button-color:hover {
	background: #2576ff;
	color: #ffffff;
}

.button-color:active {
	background: #0c66ff;
	color: #ffffff;
}


/* This causes the city dropdown to not appear. */
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}

.hidden {
	display: none;
	visibility: hidden;
}

.sharetribe-search-container {
	padding-left: 0px !important;
	padding-right: 0px !important;
	height: 100%;
	width: 100%;
	font-family: "Source Sans Pro", helvetica, sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #000000;
}


.sharetribe-search-container a:hover,
.sharetribe-search-container input[type=submit]:hover {
	opacity: 0.75;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	text-decoration: none;
}


.sharetribe-search-container h1,
.sharetribe-search-container h2,
.sharetribe-search-container .h1,
.sharetribe-search-container .h2 {
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

.sharetribe-search-container {
	color: #ffffff;
	padding: 140px 0px 165px 0px;
	text-align: center;
	height: 535px;
	overflow: hidden;
	position: relative;
}

.sharetribe-search-container img {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

.sharetribe-search-container h1 {
	font-size: 58px;
	line-height: 65px;
	font-weight: 100;
	color: #ffffff;
	padding-bottom: 0px;
	margin: 0px;
}

.sharetribe-search-container h2 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 100;
	color: #ffffff;
	padding-bottom: 25px;
	margin: 0px;
}

.sharetribe-search-container form {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
}

.sharetribe-search-container form .input-container {
	width: 730px;
	float: left;
}

.sharetribe-search-container form input[type=text] {
	width: 65%;
	line-height: 58px;
	font-size: 18px;
	font-weight: 100;
	color: #3d3d3d;
	padding: 2px 25px 0px 25px;
	background-color: #ffffff;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0px;
	float: left;
}

.sharetribe-search-container form .dropdown {
	position: relative;
	height: 60px;
	width: 33%;
	float: left;
	margin-left: 2px;
	z-index: 100;
}

.sharetribe-search-container form .dropdown .current-value {
	background: #ffffff url(../images/sprites.png) 15px 16px no-repeat;
	width: 100%;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: block;
	color: #3d3d3d;
	line-height: 60px;
	padding: 2px 40px 0px 40px;
	text-align: left;
	cursor: pointer;
}

.sharetribe-search-container form .dropdown .dd-icon {
	background: url(../images/sprites.png) 0px -50px no-repeat;
	width: 19px;
	height: 12px;
	padding: 12px 0px 0px 0px;
	overflow: hidden;
	position: absolute;
	top: 23px;
	right: 16px;
}

.sharetribe-search-container form .dropdown.open ul {
	display: block;
}

.sharetribe-search-container form .dropdown.open .current-value {
	border-bottom-right-radius: 0px;
}

.sharetribe-search-container form .dropdown ul {
	display: none;
	width: 100%;
	padding: 0px;
	max-height: 150px;
	overflow-y: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.sharetribe-search-container form .dropdown ul li {
	list-style-type: none;
}

.sharetribe-search-container form .dropdown ul li a {
	display: block;
	background-color: #dddddd;
	text-align: left;
	padding: 3px 20px 3px 40px;
	color: #3d3d3d;
}

.sharetribe-search-container form .dropdown ul li a:hover {
	opacity: 1.0 !important;
	background-color: #cccccc;
}

.sharetribe-search-container form .dropdown ul li:first-child a {
	padding-top: 10px;
}

.sharetribe-search-container form .dropdown ul li:last-child a {
	padding-bottom: 10px;
}


@media only screen and (max-width: 768px) {
	.sharetribe-search-container {
		padding: 25px 0px;
	}

	.sharetribe-search-container form .input-container {
		float: none;
		width: 100%;
	}

	.sharetribe-search-container form .input-container input[type=text] {
		width: 100%;
		float: none;
		border-radius: 4px;
		font-size: 15px;
	}

	.sharetribe-search-container form .input-container .dropdown {
		margin: 10px 0px;
		width: 100%;
		float: none;
		margin-left: 0px;
	}

	.sharetribe-search-container form .input-container .dropdown .current-value {
		border-radius: 4px;
	}

	.sharetribe-search-container form input[type=submit] {
		float: none;
	}

}

@media only screen and (max-width: 480px) {
	.sharetribe-search-container h1 {
		font-size: 32px;
		line-height: normal;
	}

	.sharetribe-search-container h2 {
		font-size: 20px;
		line-height: normal;
	}

}

/*
a {
	text-decoration: none;
	color: #807d7c;
}

a:hover {
	color: #595756;
}

a:active {
	color: #3f3e3d;
}


h1 {
	-webkit-font-smoothing: antialiased;
}

h1, h2 {
	font-family: 'Source Sans Pro', helvetica, sans-serif;
	color: #171717;
}

h1 {
	margin: 0em 0 0.75em;
	font-weight: 700;
}

@media (min-width: 37.5em) {
	h1 {
		font-size: 1.625em;
		line-height: 1.38462em;
		font-weight: 600;
		margin-top: 0.23077em;
		margin-bottom: 0.46154em;
	}
}

h2 {
	margin: 0em 0 0.75em;
	font-size: 1em;
	line-height: 1.5em;
	font-weight: 500;
}

@media (min-width: 37.5em) {
	h2 {
		font-size: 1.375em;
		line-height: 1.09091em;
		font-weight: 600;
		font-weight: 500;
		text-transform: none;
	}
}
*/

.hidden {
	display: none;
}

/*
.open > .dropdown-menu {
	display: block;
}

.open > a {
	outline: 0;
}
*/
