/*
	Theme Name:     Tools To You - Beta
	Theme URI:      http://NiceGuyIT.biz/ToolToYou-WordPress-Theme
	Author:         David Randall
	Author URI:     https://NiceGuyIT.biz/
	Description:    ToolToYou theme based on Live Composer (Beta)
	License:        Proprietary
	License URI:    None
	Template:       tooltoyou-beta
	Tags:           ToolToYou, Beta
	Version:        1.0.0
	Text Domain:    tooltoyou-beta
*/
@charset "UTF-8";

body, p {
	margin: 0;
	padding: 0;
	border: 0
}

/* Use border box model */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/********************************************************************************
 * Arbitrary elements
 ********************************************************************************/
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

/********************************************************************************
 * Section wrapper
 ********************************************************************************/
.section-wrap {
	padding-top: 25px;
	padding-bottom: 25px;
}

.section-wrap h2,
.section-wrap h3 {
	text-align: center;
}

.box-container {
	display: table;
}

.flexbox .box-container {
	display: flex;
}

.flexwrap .box-container {
	flex-wrap: wrap;
}

.content-box {
	border: 2px solid rgb(200, 200, 200);
	margin: 10px;
	width: 296px;
	height: 150px;
	padding: 0;
}

.content-box {
	display: table;
	text-align: center;
	background-color: #0000ff;
}

.content-box a {
	display: table-cell;
	vertical-align: middle;
	background-color: #ffff00;
}

.flexbox .content-box {
	display: block;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 0, 0, 0.1);
}

.flexbox .content-box a {
	display: inline;
	background-color: rgba(255, 0, 0, 0.1);
}
.flexbox .content-box p {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 255, 0.1);
}

.content-wrap {
	margin: 0 auto;
	width: 640px;
}

@media screen and (max-width: 767px) {
	.content-wrap {
		width: 300px;
	}
	.flexwrap .box-container {
		flex-wrap: wrap;
	}
}


/********************************************************************************
 * Section: Learn more about
 ********************************************************************************/
.section-wrap.learn-more-about p {
	background-color: rgba(0, 255, 0, 0.3);
	font-size: 24px;
}

/********************************************************************************
 * Text styling
 ********************************************************************************/
.text-container {
	font-family: 'Open Sans', 'Source Sans Pro', helvetica, sans-serif;
}

.text-container h2 {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
}

.text-container h3 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
	color: #999999;
}

.text-container h4 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
	color: #000000;
}

.text-container a:link,
.text-container a:visited,
.text-container a:hover,
.text-container a:active {
	text-decoration: none;
	color: #a1a1a1;
}

.learn-more-about .arrow {
	font-size: 18px;
	font-weight: bold;
}

.white-background {
	background-color: rgb(255, 255, 255);
}

.grey-background {
	background-color: rgb(245, 245, 245);
}
