/*
	Theme Name:     Tools To You - Beta
	Theme URI:      http://NiceGuyIT.biz/ToolToYou-WordPress-Theme
	Author:         David Randall
	Author URI:     https://NiceGuyIT.biz/
	Description:    ToolToYou theme based on Live Composer (Beta)
	License:        Proprietary
	License URI:    None
	Template:       tooltoyou-beta
	Tags:           ToolToYou, Beta
	Version:        1.0.0
	Text Domain:    tooltoyou-beta
*/
@charset "UTF-8";

body, p {
	margin: 0;
	padding: 0;
	border: 0
}

/** Use border box model */
html {
	box-sizing: border-box;
	/*font-family: 'Open Sans', 'Source Sans Pro', helvetica, sans-serif;*/
	font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* This causes the city dropdown to not appear. */
.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}

/** Add dropshadow to YouTube videos */
.youtube-video {
	-moz-box-shadow:    4px 4px 10px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.4);
	-o-box-shadow:      4px 4px 10px 0 rgba(0, 0, 0, 0.4);
	box-shadow:         4px 4px 10px 0 rgba(0, 0, 0, 0.4);
}

/********************************************************************************
 * Arbitrary elements
 ********************************************************************************/
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.full-width {
	width: 100%;
}

.full-height {
	height: 100%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

/********************************************************************************
 * Device media queries
 ********************************************************************************/
.visible-tablet,
.visible-tablet-inline,
.visible-desktop-inline {
	display: none !important
}

@media screen and (min-width: 48em) {
	.visible-tablet,
	.visible-tablet-inline,
	.visible-desktop-inline {
		display: block !important
	}
}

@media screen and (min-width: 48em) {
	.visible-tablet-inline {
		display: inline !important
	}
}

@media screen and (min-width: 48em) {
	.hidden-tablet {
		display: none !important
	}
}

.visible-desktop {
	display: none
}

@media screen and (min-width: 63em) {
	.visible-desktop {
		display: block
	}
}

@media screen and (min-width: 48em) {
	.visible-desktop-inline {
		display: inline
	}
}

@media screen and (min-width: 63em) {
	.hidden-desktop {
		display: none !important
	}
}

/********************************************************************************
 * Section wrapper
 ********************************************************************************/
.section-container {
	padding-top: 25px;
	padding-bottom: 25px;
	width: 100%;
	text-align: center;
}

.section-container h2,
.section-container h3 {
	text-align: center;
}

.section-container .content-container {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

.box-container {
	display: table;
}

.box-wrapper {
	border: 2px solid rgb(200, 200, 200);
	margin: 10px;
	width: 300px;
	height: 150px;
	padding: 0;
}

.box-wrapper {
	display: table;
	text-align: center;
}

.box-wrapper a {
	display: table-cell;
	vertical-align: middle;
}

/********************************************************************************
 * Text styling
 ********************************************************************************/
.text-container h2 {
	font-size: 28px;
	font-weight: bold;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
}

.text-container h3 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
	color: #999999;
}

.text-container h4 {
	font-size: 18px;
	font-weight: normal;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
	color: #000000;
}

.text-container a:link,
.text-container a:visited,
.text-container a:hover,
.text-container a:active {
	text-decoration: none;
	color: #a1a1a1;
}

a {
	text-decoration: none;
}

.learn-more-about .arrow {
	font-size: 18px;
	font-weight: bold;
}

.white-background {
	background-color: rgb(255, 255, 255);
}

.grey-background {
	background-color: rgb(245, 245, 245);
}

/********************************************************************************
 * Buttons
 ********************************************************************************/
.button-color {
	background-color: #3f86ff;
	color: #ffffff;
}
.button-color:hover {
	background: #2576ff;
	color: #ffffff;
}

.button-color:active {
	background: #0c66ff;
	color: #ffffff;
}


/********************************************************************************
 * Header
 ********************************************************************************/
.toggle-header {
	display: inline-block
}

.toggle-header-container {
	padding: 0 0.75em;
	height: 42px;
	line-height: 40px
}

.toggle-menu-subitem, a.toggle-menu-subitem {
	padding-left: 1.5em
}

.header {
	height: 3.75em;
	width: 100%
}

.header-wrapper {
	background: white;
	margin: 0 auto;
	max-width: 63em;
	padding-left: 0;
	padding-right: 0
}

@media screen and (min-width: 48em) {
	.header-wrapper {
		padding-left: 0.75em;
		padding-right: 0.75em
	}
}

.header-left {
	float: left
}

.header-right {
	float: right
}

.header-padding {
	margin-left: 0.75em
}

.header-hover:hover {
	background-color: #e8e8e8
}

.header-hover.toggled {
	background-color: #474747
}

.header-logo {
	display: block;
	display: block;
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	height: 2.5em
}

.header-text-link {
	height: 3.75em;
	line-height: 3.5625em;
	padding-right: 0.75em;
	padding-left: 0.75em;
	display: block;
	color: #3c3c3c
}

.header-text-link:hover {
	color: #3c3c3c
}

.toggled .header-text-link {
	color: white
}

.button-new-listing {
	-webkit-border-radius: 0.3125em;
	-moz-border-radius: 0.3125em;
	-ms-border-radius: 0.3125em;
	-o-border-radius: 0.3125em;
	border-radius: 0.3125em;
	background: #3f86ff;
	color: white;
	text-align: center;
	cursor: pointer;
	margin: 0.75em 0;
	padding: 0 1.5em;
	padding-bottom: 4px;
	height: 2.625em;
	border: 0;
	display: table;
	line-height: 1.5em;
	display: block;
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	height: 2.5em;
	padding-left: 1.25em;
	padding-right: 1.25em;
	line-height: 2.3125em
}

.button-new-listing .content {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

.button-new-listing:hover {
	background: #2576ff;
	color: white
}

.button-new-listing:active {
	background: #0c66ff;
	color: white
}

.header-menu-container {
	display: block;
	padding: 0.625em 0.75em;
	height: 3.75em
}

.header-menu-toggle-container {
	-webkit-border-radius: 0.3125em;
	-moz-border-radius: 0.3125em;
	-ms-border-radius: 0.3125em;
	-o-border-radius: 0.3125em;
	border-radius: 0.3125em;
	background: #e8e8e8;
	color: white;
	text-align: center;
	cursor: pointer;
	margin: 0.75em 0;
	padding: 0 1.5em;
	padding-bottom: 4px;
	height: 2.625em;
	border: 0;
	display: table;
	line-height: 1.5em;
	padding: 0 0.75em;
	height: 2.5em;
	line-height: 2.3125em;
	margin: 0;
	padding-bottom: 0;
	padding-top: 0;
	color: #3c3c3c
}

.header-menu-toggle-container .content {
	display: table-cell;
	vertical-align: middle;
	text-align: center
}

.header-menu-toggle-container:hover {
	background: #dbdbdb;
	color: white
}

.header-menu-toggle-container:active {
	background: #cfcfcf;
	color: white
}

.toggled .header-menu-toggle-container {
	color: white;
	background-color: #474747
}

.header-menu-icon {
	position: relative;
	top: 3px
}

@media screen and (min-width: 48em) {
	.header-menu-icon {
		padding-right: 0.25em
	}
}


.header-toggle-menu-language {
	min-width: 12.5em;
	position: absolute
}


.header-toggle-menu-menu {
	min-width: 12.5em;
	position: absolute
}

.header-inbox-link {
	color: #3c3c3c;
	position: relative
}

.header-inbox {
	font-size: 1.375em;
	line-height: 1.09091em;
	font-weight: 600;
	position: relative;
	top: 0.25em
}


.header-wide-logo-text,
.header-square-logo-text {
	margin-top: 0.625rem;
	margin-bottom: 0.625rem;
	line-height: 2.5rem;
	height: 2.5rem;
	font-size: 1.75em;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	font-weight: 800
}

.header-wide-logo-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 9.375rem;
	height: 2.5rem
}

.header-square-logo-text {
	width: 2.5rem;
	height: 2.5rem
}

.header-wide-logo {
	background-image: url("https://user-assets.sharetribe.com/images/communities/wide_logos/17731/header/TOOLTOYOU_LOGO.png?1464134472");
	width: 10.5em;
	height: 2.5em;
	background-repeat: no-repeat;
	-webkit-background-size: 10.5em auto;
	-moz-background-size: 10.5em auto;
	-o-background-size: 10.5em auto;
	background-size: 10.5em auto;
	display: inline-block
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.header-wide-logo {
		background-image: url("https://user-assets.sharetribe.com/images/communities/wide_logos/17731/header_highres/TOOLTOYOU_LOGO.png?1464134472")
	}
}

.header-square-logo {
	background-image: url("https://user-assets.sharetribe.com/images/communities/logos/17731/header_icon/Icon.png?1459568318");
	width: 2.5em;
	height: 2.5em;
	background-repeat: no-repeat;
	-webkit-background-size: 2.5em auto;
	-moz-background-size: 2.5em auto;
	-o-background-size: 2.5em auto;
	background-size: 2.5em auto;
	display: inline-block
}

@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
	.header-square-logo {
		background-image: url("https://user-assets.sharetribe.com/images/communities/logos/17731/header_icon_highres/Icon.png?1459568318")
	}
}

.toggle-menu {
	background: #474747;
	border-color: #474747 !important;
	position: relative;
	z-index: 99999;
	text-align: left;
	margin-bottom: 0.75em
}

.toggle-menu a,
.toggle-menu a .feedback,
.toggle-menu .toggle-menu-item,
.toggle-menu .toggle-menu-title,
.toggle-menu .toggle-menu-item .feedback,
.toggle-menu .toggle-menu-title .feedback {
	display: block;
	position: relative;
	color: white;
	padding: 0.75em;
	padding-right: 0.75em
}

.toggle-menu a.login-form,
.toggle-menu .toggle-menu-item.login-form,
.toggle-menu .login-form.toggle-menu-title {
	padding: 0
}

.toggle-menu a.login-form:hover,
.toggle-menu .toggle-menu-item.login-form:hover,
.toggle-menu .login-form.toggle-menu-title:hover {
	color: #62ccff;
	background: none
}

.toggle-menu a.login-form:after,
.toggle-menu .toggle-menu-item.login-form:after,
.toggle-menu .login-form.toggle-menu-title:after {
	content: ""
}

.toggle-menu a:hover,
.toggle-menu .toggle-menu-link:hover {
	background: #00a9fb;
	color: white
}

.toggle-menu a:hover:after,
.toggle-menu .toggle-menu-link:hover:after {
	color: white
}

.toggle-menu .toggle-menu-title {
	background-color: #545454
}

.toggle-menu p.login-form {
	color: white;
	margin: 0.375em 0 0.75em 0
}


.toggle-menu.hidden {
	display: none
}


@media screen and (min-width: 48em) {
	.toggle-menu {
		position: absolute
	}
}

.toggle {
	display: block;
	cursor: pointer
}

@media screen and (min-width: 48em) {
	.toggle {
		display: inline-block;
		width: auto
	}
}

.toggle.toggled {
	background: #474747;
	color: white !important;
	border-color: #474747
}

@media screen and (min-width: 48em) {
	.toggle.toggled {
		width: auto;
		border-bottom-color: #474747 !important
	}
}


.toggle-header {
	display: inline-block
}

.toggle-header-container {
	padding: 0 0.75em;
	height: 42px;
	line-height: 40px
}


.toggle-menu-subitem, a.toggle-menu-subitem {
	padding-left: 1.5em
}

/********************************************************************************
 * Section: Search Tools
 ********************************************************************************/
.section-container.sharetribe-search {
	padding: 0;
}

.sharetribe-search {
	/*padding: 140px 0px 140px 0px;*/
	background-image: url(https://tooltoyou.com/content/uploads/sites/8/2016/08/electric-planer-handheld-3888x2592-a40.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.section-container.sharetribe-search .content-container {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.sharetribe-search .content-container {
	padding: 140px 0px 140px 0px;
}

.sharetribe-search .button-search {
	line-height: 60px;
	padding: 0px 30px;
	display: inline-block;
	border: 0px;
	border-radius: 3px;
	position: relative;
}

.sharetribe-search input,
.sharetribe-search textarea,
.sharetribe-search button,
.sharetribe-search select {
	margin: 0;
	font-size: 100%;
	line-height: normal;
	vertical-align: baseline;
	font-family: inherit
}


.sharetribe-search a:hover,
.sharetribe-search input[type=submit]:hover {
	opacity: 0.75;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
	text-decoration: none;
}

/** AM I covered section */
.section-container .am-i-covered h3 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 6.5px;
	margin-bottom: 15px;
	color: #000000;
}

/** Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
	.tooltoyou-container.sharetribe-search h1 {
		font-size: 22pt;
		margin-top: 20px;
		margin-bottom: 0;
	}

	.tooltoyou-container.sharetribe-search h2 {
		font-size: 44pt;
		margin-bottom: 20px;
	}
}

/** Mobile */
@media screen and (max-width: 767px) {
	.tooltoyou-container.sharetribe-search h1 {
		font-size: 20pt;
		margin-top: 20px;
		margin-bottom: 0;
	}

	.tooltoyou-container.sharetribe-search h2 {
		font-size: 40pt;
		margin-bottom: 30px;
		padding-bottom: 0;
	}
}

/** Mobile - small */
@media screen and (max-width: 480px) {
	.sharetribe-search .layout-centered-content {
		padding-right: 10px;
		padding-left: 10px;
	}

	.sharetribe-search h1 {
		font-size: 32px;
		line-height: normal;
	}

	.sharetribe-search h2 {
		font-size: 20px;
		line-height: normal;
	}
}

.sharetribe-search img {
	position: absolute;
	top: 0px;
	left: 0px;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: -100;
}

.sharetribe-search h1 {
	font-size: 24pt;
	margin-top: 15px;
	margin-bottom: 0;
	font-weight: 100;
	color: #ffffff;
	padding-bottom: 0px;
}

.sharetribe-search h2 {
	font-size: 48pt;
	margin-bottom: 15px;
	font-weight: 100;
	color: #ffffff;
	padding-bottom: 0;
}

.sharetribe-search form {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
}

.sharetribe-search form .input-container {
	width: 730px;
	float: left;
}

.sharetribe-search form input[type=text] {
	width: 65%;
	line-height: 58px;
	height: 60px;
	font-size: 18px;
	font-weight: 100;
	color: #3d3d3d;
	padding: 2px 25px 0px 25px;
	background-color: #ffffff;
	border-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: 0px;
	float: left;
}

.sharetribe-search form .dropdown {
	position: relative;
	height: 60px;
	width: 33%;
	float: left;
	margin-left: 2px;
	z-index: 100;
}

.sharetribe-search form .dropdown .current-value {
	background: #ffffff url(images/sprites.png) 15px 16px no-repeat;
	width: 100%;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	display: block;
	color: #3d3d3d;
	line-height: 60px;
	padding: 2px 40px 0px 40px;
	text-align: left;
	cursor: pointer;
}

.sharetribe-search form .dropdown .dd-icon {
	background: url(images/sprites.png) 0px -50px no-repeat;
	width: 19px;
	height: 12px;
	padding: 12px 0px 0px 0px;
	overflow: hidden;
	position: absolute;
	top: 23px;
	right: 16px;
}

.sharetribe-search form .dropdown.open ul {
	display: block;
}

.sharetribe-search form .dropdown.open .current-value {
	border-bottom-right-radius: 0px;
}

.sharetribe-search form .dropdown ul {
	display: none;
	width: 100%;
	padding: 0px;
	max-height: 150px;
	overflow-y: auto;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.sharetribe-search form .dropdown ul li {
	list-style-type: none;
}

.sharetribe-search form .dropdown ul li a {
	display: block;
	background-color: #dddddd;
	text-align: left;
	padding: 3px 20px 3px 40px;
	color: #3d3d3d;
}

.sharetribe-search form .dropdown ul li a:hover {
	opacity: 1.0 !important;
	background-color: #cccccc;
}

.sharetribe-search form .dropdown ul li:first-child a {
	padding-top: 10px;
}

.sharetribe-search form .dropdown ul li:last-child a {
	padding-bottom: 10px;
}


.sharetribe-search .layout-centered-content {
	width: 940px;
	margin: 0px auto;
}
/*@media screen and (max-width: 767px) {*/
/*}*/
@media screen and (max-width: 967px) {
	.sharetribe-search .layout-centered-content {
		width: auto;
	}

	.sharetribe-search {
		padding: 25px 0px;
	}

	.sharetribe-search form .input-container {
		float: none;
		width: 100%;
	}

	.sharetribe-search form .input-container input[type=text] {
		width: 100%;
		float: none;
		border-radius: 4px;
		font-size: 15px;
	}

	.sharetribe-search form .input-container .dropdown {
		margin: 10px 0px;
		width: 100%;
		float: none;
		margin-left: 0px;
	}

	.sharetribe-search form .input-container .dropdown .current-value {
		border-radius: 4px;
	}

	.sharetribe-search form input[type=submit] {
		float: none;
	}

}

/********************************************************************************
 * Section: Explore Cities
 ********************************************************************************/
.explore-cities .box-wrapper {
	border: 0;
}

.explore-cities .box-container {
	display: block;
}

.explore-cities .box-wrapper {
	height: 300px;
}

.section-container .explore-cities p {
	font-size: 30px;
	color: rgb(255, 255, 255);
	font-weight: bold;
}

.explore-cities .los-angeles {
	background-image: url(https://tooltoyou.com/content/uploads/sites/8/2016/08/LA_Skyline_Mountains2-300x300.jpg);
}

.explore-cities .orange-county {
	background-image: url(https://tooltoyou.com/content/uploads/sites/8/2016/08/Dana_Point_Orange_County-300x300-a15.jpg);
}

.explore-cities .everywhere-else {
	width: 620px;
	background-image: url(https://tooltoyou.com/content/uploads/sites/8/2016/08/San_Diego-620x300.jpg);
}

@media screen and (max-width: 767px) {
	.explore-cities .everywhere-else {
		width: 300px;
		background-image: url(https://tooltoyou.com/content/uploads/sites/8/2016/08/San_Diego-300x300.jpg);
	}
}


/********************************************************************************
 * Section: How it works
 ********************************************************************************/
.how-it-works .box-wrapper {
	border: 0;
}

.how-it-works .youtube-video iframe {
	width: 800px;
	height: 450px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.how-it-works .youtube-video iframe {
		width: 600px;
		height: 338px;
	}
}

@media screen and (max-width: 767px) {
	.how-it-works .youtube-video iframe {
		width: 300px;
		height: 169px;
	}
}

/********************************************************************************
 * Section: Am I covered?
 ********************************************************************************/
.am-i-covered .content-container {
	width: 640px;
	display: block;
	text-align: center;
}

.am-i-covered .box-wrapper {
	height: 300px;
	display: inline-block;
}

.am-i-covered .text-wrapper {
	height: 176px;
}

.am-i-covered .text-container h3 {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	margin-bottom: 15px;
	color: #000000;
}

.am-i-covered .lock-icon {
	background-image: url(images/lock.svg);
	background-size: auto 80px;
	background-repeat: no-repeat;
	background-position: center center;
	width: auto;
	height: 120px;
	padding: 20px;
	margin: 0;
}

.am-i-covered .paypal-icon {
	background-image: url(images/PayPal.svg);
	background-size: 220px auto;
	background-repeat: no-repeat;
	background-position: center center;
	width: auto;
	height: 120px;
	padding: 20px;
	margin: 0;
}


/********************************************************************************
 * Section: Learn more about
 ********************************************************************************/
.learn-more-about .content-container {
	width: 640px;
}

@media screen and (max-width: 767px) {
	.learn-more-about .content-container {
		width: 300px;
	}
}

.section-container.learn-more-about p {
	font-size: 24px;
}

/********************************************************************************
 * Section: DIY Project Ideas
 ********************************************************************************/
.diy-video .content-container {
	width: 960px;
	display: block;
	text-align: center;
}

@media screen and (max-width: 767px) {
	.diy-video .content-container {
		width: 320px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.diy-video .content-container {
		width: 640px;
	}
}

.diy-video .box-container {
	display: inline-block;
}

.diy-video .box-wrapper {
	display: inline-block;
	border: 0;
}
